<div class="container conteudo">
  <div class="row">
    <div class="col-lg-10 col-md-12 col-sm-12 ml-auto mr-auto">
      <div class="card">
        <div class="card-header card-header-rose text-center">
          <h3 class="card-title">
            Cadastro Profissional
          </h3>
        </div>
        <div class="card-body">
          <div style="background-color: #EEEEEE;" #loadingTemplate>
            <div class="row"></div>
            <div class="col-12">
              <ul class="timeline timeline-simple">
                <li class="timeline-inverted">
                  <div class="timeline-badge info">
                    <i class="material-icons">fingerprint</i>
                  </div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <span class="badge badge-pill badge-info">Informações de Login</span>
                    </div>
                    <div class="timeline-body">
                      <app-cadastro-login (loading)="setLoading($event)"></app-cadastro-login>
                    </div>
                  </div>
                </li>
                <li class="timeline-inverted">
                  <div class="timeline-badge info">
                    <i class="material-icons">info</i>
                  </div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <span class="badge badge-pill badge-info">Informações Gerais</span>
                    </div>
                    <div class="timeline-body">
                      <app-informacoes-gerais></app-informacoes-gerais>
                    </div>
                  </div>
                </li>
                <li class="timeline-inverted">
                  <div class="timeline-badge info">
                    <i class="material-icons">house</i>
                  </div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <span class="badge badge-pill badge-info">Endereço</span>
                    </div>
                    <div class="timeline-body">
                      <app-endereco></app-endereco>
                    </div>
                  </div>
                </li>
                <li class="timeline-inverted">
                  <div class="timeline-badge info">
                    <i class="material-icons">contact_phone</i>
                  </div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <span class="badge badge-pill badge-info">Informações de Contato</span>
                    </div>
                    <div class="timeline-body">
                      <app-contato></app-contato>
                    </div>
                  </div>
                </li>
                <li class="timeline-inverted">
                  <div class="timeline-badge info">
                    <i class="material-icons">work</i>
                  </div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <span class="badge badge-pill badge-info">Informações Profissionais</span>
                    </div>
                    <div class="timeline-body">
                      <app-carreira></app-carreira>
                    </div>
                  </div>
                </li>
                <li class="timeline-inverted">
                  <div class="timeline-badge info">
                    <i class="material-icons">build</i>
                  </div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <span class="badge badge-pill badge-info">Experiência Profissional</span>
                    </div>
                    <div class="timeline-body">
                      <app-experiencia></app-experiencia>
                    </div>
                  </div>
                </li>
                <li class="timeline-inverted">
                  <div class="timeline-badge info">
                    <i class="material-icons">school</i>
                  </div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <span class="badge badge-pill badge-info">Informações Acadêmicas</span>
                    </div>
                    <div class="timeline-body">
                      <app-escolaridade></app-escolaridade>
                    </div>
                  </div>
                </li>
                <li class="timeline-inverted">
                  <div class="timeline-badge info">
                    <i class="material-icons">check_box</i>
                  </div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <span class="badge badge-pill badge-info">Informações Complementares</span>
                    </div>
                    <div class="timeline-body">
                      <app-complemento></app-complemento>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="loadingTemplate"></ngx-loading>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
