<div class="content">
  <div class="container-fluid">
    <div class="col-md-8 col-8 mr-auto ml-auto">
      <div class="wizard-container">
        <div class="card card-wizard active">
          <div class="card-header card-header-rose text-center">
            <i class="material-icons">pending_actions</i>
            <h3 class="card-title">Históricos de Agendamento</h3>
          </div>
          <div class="card-body" > <!-- [hidden]="hideForm" -->
            <div class="material-datatables">
              <div class="dataTables_wrapper dt-bootstrap4" id="datatables_wrapper">
                <div class="row">
                  <div class="col-sm-4">
                    <form class="form" [formGroup]="previewFilterForm" action="">
                      <div class="row">
                        <label class="col-lg-5 col-md-5 col-form-label" for="telefoneCelular">C.P.F. Profissional:</label>
                        <div class="form-group col-lg-7 col-md-7">
                          <input class="form-control" formControlName="cpfProfissional" id="cpfProfissional" mask="000.000.000-00"
                                placeholder="000.000.000-00" type="text">
                        </div>
                      </div>
                      <div class="row">
                        <label class="col-lg-5 col-md-5 col-form-label" for="cpfPaciente">C.P.F. Cliente:</label>
                        <div class="form-group col-lg-7 col-md-7">
                          <input class="form-control" formControlName="cpfPaciente" id="cpfPaciente" mask="000.000.000-00"
                                placeholder="000.000.000-00" type="text">
                        </div>
                      </div>
                      <div class="row">
                        <!--  col-form-label = alinhar a direita -->
                        <label class="col-lg-12 col-md-12" for="periodoDe">Período:</label>
                        <div class="form-group col-lg-6 col-md-6">
                          <!--  [readonly]="somenteLeitura" -->
                          <input (focus)="dateChange(previewFilterForm.controls?.periodoDe, 'periodoDe')"
                                placeholder="De"
                                autocomplete="none" class="form-control datetimepicker" formControlName="periodoDe" id="periodoDe" type="text">
                        </div>
                        <div class="form-group col-lg-6 col-md-6">
                          <!--  [readonly]="somenteLeitura" -->
                          <input (focus)="dateChange(previewFilterForm.controls?.periodoAte, 'periodoAte')"
                                placeholder="Até"
                                autocomplete="none" class="form-control datetimepicker" formControlName="periodoAte" id="periodoAte" type="text">
                        </div>
                      </div>
                      <div class="row">
                        <label class="col-lg-12 col-md-12" for="tipo">Area de Atendimento:</label>
                        <div class="form-group col-lg-12 col-md-12">
                          <select class="selectpicker" data-style="btn btn-primary" data-width="100%" formControlName="areaAtendimento" 
                            id="areaAtendimento" multiple="multiple" title="Selecione">
                            <option *ngFor="let areaAtendimento of areasAtendimento"
                                    [value]="areaAtendimento.id">{{ areaAtendimento.nome | uppercase }}</option>
                          </select>
                        </div>
                      </div>
                      <div class="row">
                        <label class="col-lg-12 col-md-12" for="periodoDe">Status Atendimento:</label>
                        <div class="form-group col-lg-12 col-md-12">
                        </div>
                      </div>
                      <div class="row">
                        <label class="col-lg-12 col-md-12" for="periodoDe">Home Care:</label>
                        <div class="form-group col-lg-12 col-md-12">
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="col-sm-8">
                    <!--
                    <table cellspacing="0" class="table table-striped" id="datatables" style="width:100%"
                           width="100%">
                      <thead>
                      <tr>
                        <th>Nº Tratamento</th>
                        <th>Paciente</th>
                        <th>Descrição</th>
                        <th class="disabled-sorting text-center">Visualizar</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let tratamentoEmAberto of tratamentosEmAberto">
                        <td>{{ tratamentoEmAberto.id }}</td>
                        <td>{{ tratamentoEmAberto.nomePaciente }}</td>
                        <td>{{ tratamentoEmAberto.descricao }}</td>
                        <td class="text-center">
                          <button class="btn btn-link btn-rose btn-just-icon" (click)="navigation(tratamentoEmAberto.id, tratamentoEmAberto.pacienteId)"
                                  title="Ver detalhes">
                            <i class="material-icons">visibility</i>
                          </button>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                    -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>