<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <title>HOMECARE | CONVENIO | CONNECTA CARE</title>
  <meta name="description" content="Teste">
  <meta name="keywords" content="teste">
  <!--  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"> -->
  <!--  <link rel="stylesheet" href="src/styles.css">-->
  <link rel="stylesheet" href="./connecta.component.css">
  <script src="src/assets/js/core/bootstrap-material-design.min.js" defer></script>
  <!--  <script src="care.js" defer></script> -->
  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
</head>
<body>

<img id="topo" src="../../../assets/img/topo.jpg" alt="homecare"/>

<a href="#topo"><img id="jump" src="../../../assets/img/jump.png"/></a>

<h1 alt="conv&ecirc;nio">CONNECTA CARE CONECTANDO VOC&Ecirc;</h1>

<section id="somos">
  <div id="glocal"></div>
  <img src="../../../assets/img/somos.png" class="right"/>
  <section>
    <h1 alt="homecare">QUEM SOMOS</h1>
    <p alt="homecare"><span class="care">connecta care</span> &eacute; um sistema desenvolvido com foco em ser um
      facilitador no ramo da sa&uacute;de.</p>
    <p alt="convenio">A conex&atilde;o entre o homecare, profissionais da sa&uacute;de, os planos de sa&uacute;de e conv&ecirc;nios
      medicos e claro aqueles que mais precisam de cuidados: os pacientes.</p>
  </section>
</section>

<agm-map [latitude]="lat" [longitude]="lng" [scrollwheel]="false" [zoom]="4.5">
  <agm-marker [latitude]="-15.721387" [longitude]="-48.0774459"></agm-marker>
  <agm-marker [latitude]="-3.7766285" [longitude]="-38.5680622"></agm-marker>
  <agm-marker [latitude]="-3.8025183" [longitude]="-38.5711255"></agm-marker>
  <agm-marker [latitude]="-21.1794579" [longitude]="-47.8726269"></agm-marker>
  <agm-marker [latitude]="-8.0991148" [longitude]="-35.0360535"></agm-marker>
  <agm-marker [latitude]="-8.0991148" [longitude]="-35.0360535"></agm-marker>
</agm-map>

<section class="bg-color-gb txt-mkt">
  <!-- QTDA script -->
  <p>PESSOAS CONECTADAS VIA APLICATIVO</p>
</section>

<section id="funciona" style="margin-bottom: 0px; margin-top: 0px; border-top: 0px; border-bottom: 0px;">
  <img src="../../../assets/img/somos.png" class="left"
       style="margin-bottom: 0px; margin-top: 0px; border-top: 0px; border-bottom: 0px;"/>
  <section style="margin-bottom: 0px; margin-top: 0px; border-top: 0px; border-bottom: 0px;">
    <h1>COMO FUNCIONA</h1>
    <p>O <span class="care">connecta care</span> funciona como um ponto de encontro entre os profissionais da sa&uacute;de,
      as empresas de homecare, os pacientes e os conv&ecirc;nios m&eacute;dicos.</p>
    <p>Aqui as empresas encontram os profissionais pr&oacute;ximos do atendimento solicitado, al&eacute;m de gerenciar
      todos os dados dos prontu&aacute;rios, as m&eacute;tricas e indicadores dos atendimentos.</p>
    <p>Tudo isto no seu celular!</p>
    <a routerLink="cadastro"><p id="cadastre" class="right bg-color-gb">CADASTRE-SE</p></a>
  </section>
</section>

<section id="eventos" class="bg-color-cell">
  <img src="../../../assets/img/celularede.jpg">
</section>

<section id="quem">
  <h1 class="left">QUEM CONECTAMOS</h1>

  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container">
          <p id="sld-txt">Venha fazer parte da nossa rede de profissionais para atendimento em domicílio.</p>
          <p id="sld-wit">Grupo<br>Connecta Care</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container">
          <p id="sld-txt">Maior e melhor rede de atendimento Home Care.</p>
          <p id="sld-wit">Grupo<br>Connecta Care</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container">
          <p id="sld-txt">Zelamos pela excelência no atendimento domiciliar.</p>
          <p id="sld-wit">Grupo<br>Connecta Care</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container">
          <p id="sld-txt">Maior índice de satisfação de pacientes no mercado.</p>
          <p id="sld-wit">Grupo<br>Connecta Care</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container">
          <p id="sld-txt">Atendimento em todo território nacional.</p>
          <p id="sld-wit">Grupo<br>Connecta Care</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container">
          <p id="sld-txt">Trabalhamos com seu Plano de Saúde.</p>
          <p id="sld-wit">Grupo<br>Connecta Care</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true" style="filter: invert(1) grayscale(100);"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true" style="filter: invert(1) grayscale(100);"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>


</section>

<footer class="bg-color-gb">
  <div id="logo-foot" class="left"><img src="../../../assets/img/logo-foot.svg"></div>
  <nav>
    <ul>
      <li><a href="#topo">HOME</a></li>
      <!-- <li><a href="#map">QUEM SOMOS</a></li> -->
      <li><a href="./contato.htm">CONTATO</a></li>
    </ul>
    <ul>
      <!--  <li><a href="#link">SUPORTE T&Eacute;CNICO</a></li>
        <li><a href="#link">CONV&Ecirc;NIOS</a></li> -->
    </ul>
    <ul>
      <!-- <li><a href="#link">PROFISSIONAIS DA SA&Uacute;DE</a></li>
      <li><a href="#link">PACIENTES</a></li>
      <li><a href="#link">COMO BAIXAR</a></li> -->
    </ul>
  </nav>
  <section id="social">
    <a href="#whats" alt="NOSSO NÚMERO é +55 11 91234-5678"><img src="../../../assets/img/whats.svg"
                                                                 style="width: 40px;"></a>
    <a href="https://instagram.com/connectacaresaude?igshid=10ultrcechm84" target="_blank"><img
      src="../../../assets/img/insta.svg" style="width: 40px;"></a>
    <a href="https://www.facebook.com/connectacaresaude/" target="_blank"><img src="../../../assets/img/face.svg"
                                                                               style="width: 40px;"></a>
    <a href="contato.htm" target="_blank"><img src="../../../assets/img/mail.svg" style="width: 40px;"></a>
  </section>
  <section id="play-app">
    <a href=#link><img src="../../../assets/img/play.svg" style="width: 120px;"></a>
    <a href=#link><img src="../../../assets/img/app.svg" style="width: 120px;"></a>
  </section>
  <address style="margin-bottom: 0px">
    <p>&copy; {{anoAtual}} - Connecta Care. Todos os direitos reservados.
    </p>
  </address>
</footer>

</body>
</html>
