<form (ngSubmit)="onSubmit()" [formGroup]="enderecoForm" [hidden]="esconderFormulario" class="form-horizontal">
  <div class="card-body">
    <div class="tab-content">
      <div class="row">
        <label class="col-lg-2 col-md-2 col-form-label" for="cep">CEP *</label>
        <div [ngClass]="validationHas.validation(enderecoForm.controls?.cep)" class="form-group col-lg-5 col-md-8">
          <input autocomplete="none" class="form-control" formControlName="cep" mask="00000-000" type="text">
        </div>
        <button (click)="pesquisarCep()" [disabled]="!enderecoForm.controls.cep.valid"
                class="btn btn-social btn-just-icon btn-round btn-rose" type="button">
          <i class="material-icons">search</i>
        </button>
      </div>
      <div class="row">
        <label class="col-lg-2 col-md-3 col-form-label" for="logradouro">Endereço *</label>
        <div [ngClass]="validationHas.validation(enderecoForm.controls?.logradouro)"
             class="form-group col-lg-5 col-md-8">
          <input [value]="enderecoForm.get('logradouro').value | titlecase" class="form-control"
                 formControlName="logradouro"
                 type="text">
        </div>
        <label class="col-lg-2 col-md-3 col-form-label" for="numero">Número *</label>
        <div [ngClass]="validationHas.validation(enderecoForm.controls?.numero)" class="form-group col-lg-2 col-md-8">
          <input class="form-control" formControlName="numero" mask="0*" type="text">
        </div>
      </div>
      <div class="row">
        <label class="col-lg-2 col-md-3 col-form-label" for="complemento">Complemento</label>
        <div class="form-group col-lg-5 col-md-8">
          <input class="form-control" formControlName="complemento" type="text">
        </div>
      </div>
      <div class="row">
        <label class="col-lg-2 col-md-3 col-form-label" for="bairro">Bairro *</label>
        <div [ngClass]="validationHas.validation(enderecoForm.controls?.bairro)" class="form-group col-lg-4 col-md-8">
          <input [value]="enderecoForm.get('bairro').value | titlecase" class="form-control" formControlName="bairro"
                 type="text">
        </div>
        <label class="col-lg-2 col-md-3 col-form-label" for="cidade">Cidade *</label>
        <div [ngClass]="validationHas.validation(enderecoForm.controls?.cidade)" class="form-group col-lg-3 col-md-8">
          <input [value]="enderecoForm.get('cidade').value | titlecase" class="form-control" formControlName="cidade"
                 type="text">
        </div>
      </div>
      <div class="row">
        <label class="col-lg-2 col-md-3 col-form-label" for="estado">UF *</label>
        <div class="form-group col-lg-4 col-md-8">
          <select class="selectpicker" data-live-search="true" data-style="btn btn-primary" data-width="100%"
                  formControlName="estado" id="estado" title="Estado">
            <option *ngFor="let estado of estados" [value]="estado.id" [selected]="estado.id === endereco?.estado?.id">{{ estado.uf }}</option>
          </select>
        </div>
      </div>
      <div class="row" [hidden]="pacienteDependente">
        <label class="col-lg-2 col-md-3 col-form-label" for="fotoComprovante">Comprovante *</label>
        <div class="col-lg-4 col-md-8">
          <div [ngClass]="fileInputComprovante" class="fileinput text-center" data-provides="fileinput">
            <div [ngClass]="fileInputComprovante" class="thumbnail foto img-raised">
              <img [src]="imagemComprovante" alt="..." rel="nofollow">
            </div>
            <span class="btn btn-raised btn-round btn-rose btn-file" [hidden]="!campoHabilitado">
              <span [hidden]="enderecoForm.controls.fotoComprovante.valid">Selecionar comprovante</span>
              <span [hidden]="enderecoForm.controls.fotoComprovante.invalid">Trocar</span>
              <input (change)="onLoadComprovante($event)" data-max-size="2" formControlName="fotoComprovante" type="file">
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer justify-content-between">
    <span *ngIf="!isCadastro" class="bmd-form-group is-filled">
      <button [routerLink]="['../']" class="btn btn-social btn-just-icon btn-gray">
        <i class="material-icons">arrow_back</i>
      </button>
    </span>
    <span *ngIf="isCadastro" class="bmd-form-group is-filled">
      <button *ngIf="linkBotaoVoltar != null" (click)="onReturn()" class="btn btn-gray" type="button">Retornar</button>
      <button (click)="limpar()" class="btn btn-gray" type="button">Limpar</button>
    </span>
    <span class="bmd-form-group is-filled">
      <button  class="btn btn-rose" type="submit" [hidden]="!campoHabilitado">{{ labelBotaoSubmit }}</button>
    </span>
  </div>
</form>
