<form [formGroup]="contatoForm" (ngSubmit)="onSubmit()" class="form-horizontal">
  <div class="row">
    <label for="telefoneFixo" class="col-lg-2 col-md-3 col-form-label">Fone Fixo</label>
    <div class="form-group col-lg-3 col-md-8"
      [ngClass]="contatoForm.controls.telefoneFixo.invalid && contatoForm.controls.telefoneFixo.touched ? 'has-danger' : ''">
      <input type="text" class="form-control" name="telefoneFixo" formControlName="telefoneFixo" placeholder="(99) 9999-9999" [mask]="mascaraTelefone">
    </div>
    <label for="celularPrincipal" class="col-lg-3 col-md-3 col-form-label">Celular Principal *</label>
    <div class="form-group col-lg-3 col-md-8"
      [ngClass]="contatoForm.controls.celularPrincipal.invalid && contatoForm.controls.celularPrincipal.touched ? 'has-danger' : ''">
      <input type="text" class="form-control" name="celularPrincipal" formControlName="celularPrincipal" placeholder="(99) 99999-9999" [mask]="mascaraCelular">
    </div>
  </div>
  <div class="row">
    <label for="telefoneRecado" class="col-lg-2 col-md-3 col-form-label">Fone Recado</label>
    <div class="form-group col-lg-3 col-md-8"
      [ngClass]="contatoForm.controls.telefoneRecado.invalid && contatoForm.controls.telefoneRecado.touched ? 'has-danger' : ''">
      <input type="text" class="form-control" name="telefoneRecado" formControlName="telefoneRecado" placeholder="(99) 9999-9999" [mask]="mascaraTelefone">
    </div>
    <label for="celularSecundario" class="col-lg-3 col-md-3 col-form-label">Celular Secundário</label>
    <div class="form-group col-lg-3 col-md-8"
      [ngClass]="contatoForm.controls.celularSecundario.invalid && contatoForm.controls.celularSecundario.touched ? 'has-danger' : ''">
      <input type="text" class="form-control" name="celularSecundario" formControlName="celularSecundario" placeholder="(99) 99999-9999" [mask]="mascaraCelular">
    </div>
  </div>
  <div class="form-row justify-content-between mt-4">
    <div>
      <button type="button" class="btn btn-gray">Retornar</button>
      <button type="button" class="btn btn-gray">Limpar</button>
    </div>
    <div>
      <button type="submit" class="btn btn-rose" [disabled]="!contatoForm.valid">Avançar</button>
    </div>
  </div>
</form>
