<form [formGroup]="contatoForm" (ngSubmit)="onSubmit()" class="form-horizontal" [hidden]="hideForm">
  <div class="card-body">
    <div class="tab-content">
      <div class="row">
        <label for="telefoneFixo" class="col-lg-2 col-md-3 col-form-label">Fone Fixo</label>
        <div class="form-group col-lg-3 col-md-8">
          <input type="text" id="telefoneFixo" class="form-control" formControlName="telefoneFixo"
                 placeholder="(99) 9999-9999" mask="(00) 0000-0000">
        </div>
        <label for="telefoneRecado" class="col-lg-3 col-md-3 col-form-label">Fone Recado</label>
        <div class="form-group col-lg-3 col-md-8">
          <input type="text" id="telefoneRecado" class="form-control" formControlName="telefoneRecado"
                 placeholder="(99) 99999-9999" mask="(00) 00000-0000">
        </div>
      </div>
      <div class="row">
        <label for="telefoneCelular" class="col-lg-2 col-md-3 col-form-label">Celular</label>
        <div class="form-group col-lg-3 col-md-8">
          <input type="text" id="telefoneCelular" class="form-control" formControlName="telefoneCelular"
                 placeholder="(99) 99999-9999" mask="(00) 00000-0000">
        </div>
        <label for="telefoneWhatsapp" class="col-lg-3 col-md-3 col-form-label">WhatsApp</label>
        <div class="form-group col-lg-3 col-md-8">
          <input type="text" id="telefoneWhatsapp" class="form-control"
                 formControlName="telefoneWhatsapp"
                 placeholder="(99) 99999-9999" mask="(00) 00000-0000">
        </div>
      </div>
      <div class="row">
        <label for="email" class="col-lg-2 col-md-3 col-form-label">Email *</label>
        <div class="form-group col-lg-3 col-md-8" [ngClass]="validationHas.validation(contatoForm.controls.email)">
          <input type="email" id="email" class="form-control" formControlName="email" placeholder="email@email.com">
        </div>
      </div>
      <ng-container *ngIf="!isAlteracao">
        <div class="row">
          <div class="form-check col-lg-3 col-md-10 col-form-label">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" value="" id="flagAceiteDeclaracao"
                     formControlName="flagAceiteDeclaracao">
              Declaro que as informações acima são verdadeiras *
              <span class="form-check-sign">
              <span class="check"></span>
            </span>
            </label>
          </div>
        </div>
        <div class="row">
          <div class="form-check col-lg-3 col-md-10 col-form-label">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" value="" id="flagAceitePrivacidade"
                     formControlName="flagAceitePrivacidade">
              Eu aceito os <a href="">termos de política e privacidade do site </a>*
              <span class="form-check-sign">
              <span class="check"></span>
            </span>
            </label>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="card-footer justify-content-between">
    <span class="bmd-form-group is-filled" *ngIf="isAlteracao">
      <button class="btn btn-social btn-just-icon btn-gray" [routerLink]="['../']">
        <i class="material-icons">arrow_back</i>
      </button>
    </span>
    <span class="bmd-form-group is-filled" *ngIf="!isAlteracao">
      <button type="button" class="btn btn-gray" (click)="onReturn()">Retornar</button>
      <button type="button" class="btn btn-gray" (click)="limparForm()">Limpar</button>
    </span>
    <span class="bmd-form-group is-filled">
        <button type="submit" class="btn btn-rose"
        [disabled]="!contatoForm.valid">{{ isAlteracao ? 'Alterar' : 'Avançar' }}</button>
    </span>
  </div>
</form>
