<div class="off-canvas-sidebar">
  <nav class="navbar navbar-expand-lg navbar-transparent text-white">
    <div class="container">
      <div class="navbar-wrapper">
        <div class="container">
          <a class="navbar-brand font-weight-bold" href="{{ '/planos-saude/' + valid.id }}">
            <i class="material-icons">home</i>
            Home
          </a>
        </div>
      </div>
      <button aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
              data-toggle="collapse" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="navbar-toggler-icon icon-bar"></span>
        <span class="navbar-toggler-icon icon-bar"></span>
        <span class="navbar-toggler-icon icon-bar"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="material-icons">room_service</i>
              Indicadores
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="planos-saude/{{valid.id}}/dados-planos-saude">
              <i class="material-icons">engineering</i>
              Dados Plano de Saúde
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="planos-saude/{{valid.id}}/eventos">
              <i class="material-icons">insert_invitation</i>
              Financeiro
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="material-icons">list_alt</i>
              Equipamentos
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="material-icons">call</i>
              Relatórios
            </a>
          </li>
          <li class="nav-item active">
            <a (click)="logout()" class="nav-link" routerLink="">
              <i class="material-icons">exit_to_app</i>
              Sair
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
