<div class="content">
  <div class="container-fluid">
    <div class="col-md-8 col-12 mr-auto ml-auto">
      <div class="wizard-container">
        <div class="card card-wizard active">
          <div class="card-header card-header-rose text-center">
            <i class="material-icons">info</i>
            <h3 class="card-title">Conclusão do cadastro dos seus dados</h3>
          </div>
          <div class="card-body">
            <div class="tab-content">
              <div class="dados-gerais">
                <div class="row">
                  <div class="col-lg-2 col-md-3">
                    <div>Cpf:</div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div>Nome:</div>
                  </div>
                  <div class="col">
                    <div>Sexo:</div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div>Data Nasc.:</div>
                  </div>
                  <div class="col">
                    <div>Idade:</div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div>Est. Civil:</div>
                  </div>
                  <div class="col">
                    <div>Contatos (Fones/E-MAIL):</div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div>Religião:</div>
                  </div>
                </div>
              </div>
              <div class="dados-gerais">
                <div id="accordion" role="tablist">
                  <div class="card card-collapse">
                    <div class="card-header" role="tab" id="headingOne">
                      <h5 class="mb-0">
                        <a
                          data-toggle="collapse"
                          href="#collapseOne"
                          aria-expanded="true"
                          aria-controls="collapseOne"
                        >
                          Tratamento A
                          <i class="material-icons">keyboard_arrow_down</i>
                        </a>
                      </h5>
                    </div>
                    <div
                      id="collapseOne"
                      class="collapse show"
                      role="tabpanel"
                      aria-labelledby="headingOne"
                      data-parent="#accordion"
                    >
                      <div class="card-body">
                        <div class="card">
                          <div class="card-header card-header-info text-center">
                            Profissional Responsável pelo Tratamento
                          </div>
                          <div class="card-body">
                            <div class="dados-gerais">
                              <div class="row">
                                <div class="col-lg-2 col-md-3">
                                  <div>Cpf:</div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col">
                                  <div>Nome:</div>
                                </div>
                                <div class="col">
                                  <div>Área de Atendimento:</div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col">
                                  <div>Sobrenome:</div>
                                </div>
                                <div class="col">
                                  <div>Telefone Celular:</div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col">
                                  <div>Nº do Conselho:</div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col">
                                  <div>Nº do Registro:</div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card-body">
                        <div class="card">
                          <div class="card-header card-header-info text-center">
                            Atendimentos
                          </div>
                          <div class="card-body">
                            <div class="dados-gerais">
                              <div class="table-responsive">
                                <table class="table">
                                  <thead>
                                    <tr>
                                      <th class="text-center">#</th>
                                      <th>Name</th>
                                      <th>Job Position</th>
                                      <th>Since</th>
                                      <th class="text-right">Salary</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td class="text-center">1</td>
                                      <td>Andrew Mike</td>
                                      <td>Develop</td>
                                      <td>2013</td>
                                      <td class="text-right">&euro; 99,225</td>
                                    </tr>
                                    <tr>
                                      <td class="text-center">2</td>
                                      <td>John Doe</td>
                                      <td>Design</td>
                                      <td>2012</td>
                                      <td class="text-right">&euro; 89,241</td>
                                    </tr>
                                    <tr>
                                      <td class="text-center">3</td>
                                      <td>Alex Mike</td>
                                      <td>Design</td>
                                      <td>2010</td>
                                      <td class="text-right">&euro; 92,144</td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card card-collapse">
                      <div class="card-header" role="tab" id="headingTwo">
                        <h5 class="mb-0">
                          <a
                            class="collapsed"
                            data-toggle="collapse"
                            href="#collapseTwo"
                            aria-expanded="false"
                            aria-controls="collapseTwo"
                          >
                            Collapsible Group Item #2
                            <i class="material-icons">keyboard_arrow_down</i>
                          </a>
                        </h5>
                      </div>
                      <div
                        id="collapseTwo"
                        class="collapse"
                        role="tabpanel"
                        aria-labelledby="headingTwo"
                        data-parent="#accordion"
                      >
                        <div class="card-body">
                          Anim pariatur cliche reprehenderit, enim eiusmod high
                          life accusamus terry richardson ad squid. 3 wolf moon
                          officia aute, non cupidatat skateboard dolor brunch.
                          Food truck quinoa nesciunt laborum eiusmod. Brunch 3
                          wolf moon tempor, sunt aliqua put a bird on it squid
                          single-origin coffee nulla assumenda shoreditch et.
                          Nihil anim keffiyeh helvetica, craft beer labore wes
                          anderson cred nesciunt sapiente ea proident. Ad vegan
                          excepteur butcher vice lomo. Leggings occaecat craft
                          beer farm-to-table, raw denim aesthetic synth nesciunt
                          you probably haven't heard of them accusamus labore
                          sustainable VHS.
                        </div>
                      </div>
                    </div>
                    <div class="card card-collapse">
                      <div class="card-header" role="tab" id="headingThree">
                        <h5 class="mb-0">
                          <a
                            class="collapsed"
                            data-toggle="collapse"
                            href="#collapseThree"
                            aria-expanded="false"
                            aria-controls="collapseThree"
                          >
                            Collapsible Group Item #3
                            <i class="material-icons">keyboard_arrow_down</i>
                          </a>
                        </h5>
                      </div>
                      <div
                        id="collapseThree"
                        class="collapse"
                        role="tabpanel"
                        aria-labelledby="headingThree"
                        data-parent="#accordion"
                      >
                        <div class="card-body">
                          Anim pariatur cliche reprehenderit, enim eiusmod high
                          life accusamus terry richardson ad squid. 3 wolf moon
                          officia aute, non cupidatat skateboard dolor brunch.
                          Food truck quinoa nesciunt laborum eiusmod. Brunch 3
                          wolf moon tempor, sunt aliqua put a bird on it squid
                          single-origin coffee nulla assumenda shoreditch et.
                          Nihil anim keffiyeh helvetica, craft beer labore wes
                          anderson cred nesciunt sapiente ea proident. Ad vegan
                          excepteur butcher vice lomo. Leggings occaecat craft
                          beer farm-to-table, raw denim aesthetic synth nesciunt
                          you probably haven't heard of them accusamus labore
                          sustainable VHS.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
