<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <title>HOMECARE | CONVENIO | CONNECTA CARE</title>
  <meta name="description" content="Teste">
  <meta name="keywords" content="teste">

</head>

<body>

  <section id="confirme" class="center">
    <img id="logo" class="center" src="../../../assets/img/logo-email.png" width="25%" />
    <br />
    <h5>
      <font face="Arial" color="#808080">TERMOS E CONDIÇÕES GERAIS DE USO</font>
    </h5>
  </section>

  <dl class="row">
    <dt class="col-sm-3">
      <font face="Arial" color="#808080">1º Do objeto</font>
    </dt>
    <dd class="col-sm-9">&#9758; A plataforma visa licenciar o uso de seu software, website, aplicativos e demais ativos
      de propriedade intelectual, fornecendo ferramentas para auxiliar e dinamizar o dia a dia dos seus usuários.<br>
      &#10146; A plataforma caracteriza-se pela prestação do seguinte serviço: A solução visa disponibilizar, organizar
      visitas e consultas domiciliar. Nesta versão será disponobilizada apenas a função de cadastro e manutenção dos
      dados de profissionais.</dd>

    <dt class="col-sm-3">
      <font face="Arial" color="#808080">2º Da aceitação</font>
    </dt>
    <dd class="col-sm-9">
      &#9758; O presente Termo estabelece obrigações contratadas de livre e espontânea vontade, por tempo indeterminado,
      entre a plataforma e as pessoas físicas ou jurídicas, usuárias do OU site OU aplicativo.<br>
      &#10146; Ao utilizar a plataforma o usuário aceita integralmente as presentes normas e compromete-se a
      observá-las, sob o risco de aplicação das penalidades cabíveis.<br>
      &#10146; A aceitação do presente instrumento é imprescindível para o acesso e para a utilização de quaisquer
      serviços fornecidos pela empresa. Caso não concorde com as disposições deste instrumento, o usuário não deve
      utilizá-los.
    </dd>

    <dt class="col-sm-3">
      <font face="Arial" color="#808080">3º Do acesso dos usuários</font>
    </dt>
    <dd class="col-sm-9">&#9758; Serão utilizadas todas as soluções técnicas à disposição do responsável pela platarfoma
      para permitir o acesso ao serviço 24 (vinte e quatro) horas por dia, 7 (sete) dias por semana. No entanto, a
      navegação na plataforma ou em alguma de suas páginas poderá ser interrompida, limitada ou suspensa para
      atualizações, modificações ou qualquer ação necessária ao seu bom funcionamento.</dd>

    <dt class="col-sm-3 text-truncate">
      <font face="Arial" color="#808080">4º Do cadastro</font>
    </dt>
    <dd class="col-sm-9">&#9758; O acesso às funcionalidades da plataforma exigirá a realização de um cadastro prévio e,
      a depender dos serviços ou produtos escolhidos, o pagamento de deteminado valor.<br>
      &#10146; Ao se cadastrar o usuário deverá informar dados completos, recentes e válidos, sendo de sua exclusiva
      responsabilidade manter referidos dados atulizados, bem como o usuário se compromete com a veracidade dos dados
      fornecidos.<br>
      &#10146; O usuário se compromete a não infomar seus dados cadastrais e/ou de acesso à plataforma de terceiros,
      responsabilizando-se integralmente pelo uso que deles seja feito.<br>
      &#10146; Menores de 18 anos e aqueles que não possuírem plena capacidade civil deverão obter previamente o
      consentimento expresso de seus responsáveis legais para utilização da platarforma e dos serviços ou produtos,
      sendo de responsabilidade exclusiva dos mesmos o eventual acesso por menores de idade e por aqueles que não
      possuem plena capacidadede civil sem a prévia autorização.<br>
      &#10146; Mediante a realização do cadastro o usuário declara e garante expressamente ser plenamente capaz, podendo
      exercer e usufruir livremente dos serviços.<br>
      &#10146; O usuário deverá fornecer um endereço de e-mail válido, através do qual o site realizará todas
      comunicações necessárias.<br>
      &#10146; Após a confirmação do cadastro, o usuário possuirá um login e uma senha pessoal, a qual assegura ao
      usuário o acesso individual à mesma. Desta forma, compete ao usuário exclusivamente a manutenção de referida senha
      de maneira confidencial e segura, evitando o acesso indevido às informações pessoais.<br>
      &#10146; Toda e qualquer atividade realizada com o uso da senha será de responsabilidade do usuário, que deverá
      informar prontamente a plataforma em caso de uso indevido da respectiva senha.<br>
      &#10146; Não será permitido ceder, vender, alugar ou transferir, de qualquer forma, a conta, que é pessoal e
      intransferível.<br>
      &#10146; Caberá ao usuário assegurar que o seu equipamento seja compatível com as características técnicas que
      viabilize a utilização da plataforma e dos serviços ou produtos.<br>
      &#10146; O usuário poderá, a qualquer tempo, requerer o cancelamento de seu cadastro junto ao site <a
        href="https://www.connectacare.com.br" target="_blank">www.connectacare.com.br</a> OU aplicativo Connecta Care.
      O seu descadastramento será realizado o mais rapidamente possível, desde que não sejam verificados débitos em
      aberto se for o caso do serviço prestado.<br>
      &#10146; O usuário, ao aceitar os Termos e Política de Privacidade, autoriza expressamente a plataforma a coletar,
      usar, armazenar, tratar, ceder ou utilizar as informações derivadas do uso dos serviços, o site e quaisquer
      plataformas, incluindo todas as informações preenchidas pelo usuário no momneto em que realizar ou atualizar se
      cadastro, além de outras expressamente descritas na Política de Privacidade que deverá ser autorizada pelo
      usuário.</dd>

    <dt class="col-sm-3">
      <font face="Arial" color="#808080">5º Dos serviços ou produtos</font>
    </dt>
    <dd class="col-sm-9">&#9758; A plataforma poderá disponibilizar para o usuário um conjunto específico de
      funcionalidade e ferramentas para otimizar o uso dos serviços e produtos.<br>
      &#10146; Na plataforma os serviços ou produtos oferecidos estão descritos e apresentados com o maior grau de
      exatidão, contendo informações sobre suas características, qualidades, quantidades, composição, preço, garantia,
      prazos de validade e origem, entre outros dados, bem como sobre os riscos que apresentam à saúde e segurança do
      usuário.<br>
      &#10146; Antes de finalizar a compra sobre determinado produto ou serviço, o usuário deverá se informar sobre as
      suas especificações e sobre a sua destinação.<br>
      A entrega de serviços ou produtos adquiridos na plataforma será informada no momento da finalização da compra.
    </dd>

    <dt class="col-sm-3">
      <font face="Arial" color="#808080">6º Dos preços</font>
    </dt>
    <dd class="col-sm-9">&#9758; A plataforma se reserva no direito de reajustar unilateralmente. a qualquer tempo, os
      valores dos serviços ou produtos sem consulta ou anuência prévia do usuário.<br>
      &#10146; Os valores aplicads são aqueles que estão em vigor no momento do pedido.<br>
      &#10146; Os preços são indicados em reais e não incluem as taxas de entrega, as quais são especificadas à parte e
      são informadas ao usuário antes da finalização do pedido.<br>
      &#10146; Na contratação de determinado serviço ou produto, a plataforma poderá solicitar as informações
      financeiras do usuário, como CPF, endereço de cobrança e dados de cartões. Ao inserir referidos dados o usuário
      concorda que sejam cobrados, de acordo com a forma de pagamento que venha a ser escolhidas, os preços então
      vigentes e informados quando da contratação. Referidos dados financeiros poderão ser armazenadas para facilitar
      acessos e contratação futuras.<br>
      &#10146; A contratação dos serviços será renovada automaticamente pela plataforma, independentemente de
      comunicação ao usuário, mediante cobrança periódica da mesma forma de pagamento indicada pelo usuário quando da
      contratação do serviço.<br>
    </dd>

    <dt class="col-sm-3">
      <font face="Arial" color="#808080">7º Do cancelamento</font>
    </dt>
    <dd class="col-sm-9">&#9758; O usuário poderá cancelar a contratação dos serviços de acordo com os termos que forem
      definidos no momento de sua contratação. Ainda, usuário também poderá cancelar os serviços em até 7 (sete) dias
      após a contratação, mediante contato, de acordo com o <a
        href="https://www.planalto.gov.br/ccivil_03/leis/l8078.htm" target="_blank">Código de Defesa do Consumidor (Lei
        no. 8.078/90)</a>.<br>
      &#10146; O serviço poderá ser cancelado por:<br>
    <dt class="col-sm-3"></dt>
    <dd class="col-sm-9">
      <dl class="row">
        <dt class="col-sm-4" style="text-align: right;">a) </dt>
        <dd class="col-sm-8">parte do usuário: nessas condições os serviços somente cessarão quando concluído o ciclo
          vigente ao tempo do cancelamento;</dd>
      </dl>
    <dt class="col-sm-3"></dt>
    <dd class="col-sm-9">
      <dl class="row">
        <dt class="col-sm-4" style="text-align: right;">b) </dt>
        <dd class="col-sm-8">violação dos Termos de Uso: os serviços serão cessados imediatamente.</dd>
      </dl>
    </dd>

    <dt class="col-sm-3">
      <font face="Arial" color="#808080">8º Do cancelamento de contrato ou atendimento</font>
    </dt>
    <dd class="col-sm-9">&#9758; A política de troca e devolução da plataforma é regida conforme <a
        href="https://www.planalto.gov.br/ccivil_03/leis/l8078.htm" target="_blank">Código de Defesa do Consumidor (Lei
        no. 8.078/90)</a>.<br>
      &#10146; A troca e/ou cancelamento do produto poderá ocorrer por:<br>
    <dt class="col-sm-3"></dt>
    <dd class="col-sm-9">
      <dl class="row">
        <dt class="col-sm-4" style="text-align: right;">a) </dt>
        <dd class="col-sm-8">direito de arrependimento;</dd>
      </dl>
    <dt class="col-sm-3"></dt>
    <dd class="col-sm-9">
      <dl class="row">
        <dt class="col-sm-4" style="text-align: right;">b) </dt>
        <dd class="col-sm-8">O não comprimento no acordado na solicitação dos serviços.</dd>
      </dl>
      &#10146; Em caso de arrependimento, o usuário poderá devolver o produto em até 7(sete) dias após o seu
      recebeimento, mediante contato com a Connecta Care, e acordo com o <a
        href="https://www.planalto.gov.br/ccivil_03/leis/l8078.htm" target="_blank">Código de Defesa do Consumidor (Lei
        no. 8.078/90)</a>.<br>
      &#10146; Em caso de vício do produto, deverá ser verificado vícios de qualidade ou quantidade que tornem o produto
      impróprios ou inadequados ao consumo a que se destinam ou que lhes diminuam o valor. Ainda, poderão ser trocados
      ou devolvidos os produtos ou serviços que apresentam disparidade com as indicações constantes na plataforma no
      momento de compra ou na embalagem, respeitando as variações decorrentes de sua natureza.<br>
      &#10146; O usuário deverá entrar em contato com a Connecta Care tão logo constate o vício. Se, no prazo máximo de
      30 (trinta) dias, não for possível resolver o vício ou, independentemente deste prazo, a substituição das partes
      viciadas puder comprometer a qualidade ou características do produto ou serviço, diminuir-lhe o valor ou se tratar
      de produto ou serviço essencial, o usuário poderá optar pela substituição do produto por outro da mesma espécie ou
      pela reexecução do serviço, pela devolução das quantias pagas ou pelo abatimento proporcional do preço.<br>
    </dd>

    <dt class="col-sm-3">
      <font face="Arial" color="#808080">9º Do suporte</font>
    </dt>
    <dd class="col-sm-9">&#9758; Em caso de qualquer dúvida, sugestão ou problema coma utilização da plataforma, o
      usuário poderá entrar em contato com o suporte através do email contato@connectacare.com.br.<br>
      &#10146; Estes serviços de atendimento ao paciente estarão disponíveis nos seguintes dias e horários: 24 (vinte e
      quatro) horas por dias, 7 (sete) dias por semana.<br>
    </dd>
    <dt class="col-sm-3">
      <font face="Arial" color="#808080">10º Das resposnsabilidades</font>
    </dt>
    <dd class="col-sm-9">&#9758; É de responsabilidade do usuário:<br>
      <dl class="row">
        <dt class="col-sm-4" style="text-align: right;">a) </dt>
        <dd class="col-sm-8">defeitos ou vicíos técnicos originados no próprio sistema do usuário;</dd>
      </dl>
      <dl class="row">
        <dt class="col-sm-4" style="text-align: right;">b) </dt>
        <dd class="col-sm-8">a correta utilização da plataforma, dos serviços ou produtos oferecidos, prezando pela boa
          convivência, pelo respeito e cordialidade entre os usuários;</dd>
      </dl>
      <dl class="row">
        <dt class="col-sm-4" style="text-align: right;">c) </dt>
        <dd class="col-sm-8">pelo cumprimento e respeito ao conjunto de regras disposto nesse Termo de Condições Geral
          de Uso, na respectiva Política de Privacidade e na legislação nacional e internacional;</dd>
      </dl>
      <dl class="row">
        <dt class="col-sm-4" style="text-align: right;">d) </dt>
        <dd class="col-sm-8">pela proteção aos dados de acesso à sua conta/perfil (login e senha).</dd>
      </dl>
    <dt class="col-sm-3">
      <font face="Arial" color="#808080"></font>
    </dt>
    <dd class="col-sm-9">&#9758; É de responsabilidade da plataforma Connecta Care:<br>
      <dl class="row">
        <dt class="col-sm-4" style="text-align: right;">a) </dt>
        <dd class="col-sm-8">indicar as características do serviço ou produto;</dd>
      </dl>
      <dl class="row">
        <dt class="col-sm-4" style="text-align: right;">b) </dt>
        <dd class="col-sm-8">os defeitos e vícios encontrados no serviço ou produto oferecido desde que lhe tenha dados
          causa;</dd>
      </dl>
      <dl class="row">
        <dt class="col-sm-4" style="text-align: right;">c) </dt>
        <dd class="col-sm-8">as informações que foram por ele divulgadas, sendo que os comentários ou informações
          divulgadas por usuários são de inteira responsabilidade dos próprios usuários;</dd>
      </dl>
      <dl class="row">
        <dt class="col-sm-4" style="text-align: right;">d) </dt>
        <dd class="col-sm-8">os conteúdos ou atividades ilícitas praticadas através da sua plataforma.</dd>
      </dl>
    <dt class="col-sm-3">
      <font face="Arial" color="#808080"></font>
    </dt>
    <dd class="col-sm-9">&#10146; A plataforma não se responsabiliza por links externos contidos em seu sistema que
      possam redirecionar o usuário à ambiente externo a sua rede.<br>
      &#10146; Não poderão ser incluídos links externos ou páginas que sirvam para fins comerciais ou publicitários ou
      quaisquer informações ilícitas, violentas, polêmicas, pornográficas, xenofóbicas, discriminatórias ou
      ofensivas.<br>
    </dd>
    <dt class="col-sm-3">
      <font face="Arial" color="#808080">11º Dos direitos autorais</font>
    </dt>
    <dd class="col-sm-9">&#9758; O presente Termo de Uso concede aos usuários uma licença não exclusiva, não
      transferível e não sublicenciável, para acessar e fazer uso da plataforma e dos serviços e produtos por ela
      disponibilizados.<br>
      &#10146; A estrutura do site ou aplicativo, as marcas, logotipos, nomes comerciais, layouts, gráficos e design de
      interface, imagens, ilustrações, fotografias, apresentações, vídeos, conteúdos escritos e de som e áudio,
      programas de computador, banco de dados, arquivos de transmissão e quaisquer outras informações e direitos de
      propriedade intelectual da razão social COMMAND SYSTEM LTDA, observados os termos da <a
        href="http://www.planalto.gov.br/ccivil_03/leis/l9279.htm#:~:text=LEI%20N%C2%BA%209.279%2C%20DE%2014,obriga%C3%A7%C3%B5es%20relativos%20%C3%A0%20propriedade%20industrial.&text=Art.&text=II%20%2D%20aos%20nacionais%20ou%20pessoas,Art."
        target="_blank">Lei da Propriedade Industrial (Lei nº 9279/96)</a>, <a
        href="http://www.planalto.gov.br/ccivil_03/leis/l9610.htm" target="_blank">Lei de Direitos Autorais (Lei nº
        9610/98)</a> e <a href="http://www.planalto.gov.br/ccivil_03/leis/l9609.htm" target="_blank">Lei do Software
        (Lei nº 9609/98)</a>, estão devidamente reservados.<br>
      &#10146; Este Termos de Uso não cede ou transfere ao usuário qualquer direito, de modo que o acesso não gera
      qualquer direito de propriedade intelectual ao usuário, exceto pela licença limitada ora concedida.<br>
      &#10146; O uso da plataforma pelo usuário é pessoal, individual e intransferível, sendo vedado qualquer uso não
      autorizado, comercial ou não- comercial. Tais usos consistirão em violação dos direitos de propriedade intelectual
      da razão social COMMAND SYSTEM LTDA, puníveis nos termos da legislação aplicável.<br>
    </dd>
    <dt class="col-sm-3">
      <font face="Arial" color="#808080"></font>
    </dt>
    <dd class="col-sm-9">&#9758; É de responsabilidade da plataforma Connecta Care:<br>
      <dl class="row">
        <dt class="col-sm-4" style="text-align: right;">a) </dt>
        <dd class="col-sm-8">indicar as características do serviço ou produto;</dd>
      </dl>
      <dl class="row">
        <dt class="col-sm-4" style="text-align: right;">b) </dt>
        <dd class="col-sm-8">os defeitos e vícios encontrados no serviço ou produto oferecido desde que lhe tenha dados
          causa;</dd>
      </dl>
      <dl class="row">
        <dt class="col-sm-4" style="text-align: right;">c) </dt>
        <dd class="col-sm-8">as informações que foram por ele divulgadas, sendo que os comentários ou informações
          divulgadas por usuários são de inteira responsabilidade dos próprios usuários;</dd>
      </dl>
      <dl class="row">
        <dt class="col-sm-4" style="text-align: right;">d) </dt>
        <dd class="col-sm-8">os conteúdos ou atividades ilícitas praticadas através da sua plataforma.</dd>
      </dl>
    <dt class="col-sm-3">
      <font face="Arial" color="#808080">12º Das sanções</font>
    </dt>
    <dd class="col-sm-9">&#9758; Sem prejuízo das demais medidas legais cabíveis, a razão social COMMAND SYSTEM LTDA
      poderá, a qualquer momento, advertir, suspender ou cancelar a conta do usuário:
      <dl class="row">
        <dt class="col-sm-4" style="text-align: right;">a) </dt>
        <dd class="col-sm-8">que violar qualquer dispositivo do presente Termo;</dd>
      </dl>
      <dl class="row">
        <dt class="col-sm-4" style="text-align: right;">b) </dt>
        <dd class="col-sm-8">que descumprir os seus deveres de usuário;</dd>
      </dl>
      <dl class="row">
        <dt class="col-sm-4" style="text-align: right;">c) </dt>
        <dd class="col-sm-8">que tiver qualquer comportamento fraudulento, doloso ou que ofenda a terceiros.</dd>
      </dl>
    <dt class="col-sm-3">
      <font face="Arial" color="#808080">13º Da recisão</font>
    </dt>
    <dd class="col-sm-9">&#9758; A não observância das obrigações pactuadas neste Termo de Uso ou da legislação
      aplicável poderá, sem prévio aviso, ensejar a imediata rescisão unilateral por parte da razão social COMMAND
      SYSTEM LTDA e o bloqueio de todos os serviços prestados ao usuário.</dd>
    <dt class="col-sm-3">
      <font face="Arial" color="#808080">14º Da alterações</font>
    </dt>
    <dd class="col-sm-9">&#9758; Os itens descritos no presente instrumento poderão sofrer alterações, unilateralmente e
      a qualquer tempo, por parte de COMMAND SYSTEM LTDA, para adequar ou modificar os serviços, bem como para atender
      novas exigências legais. As alterações serão veiculadas OU pelo site <a href="https://www.connectacare.com.br"
        target="_blank">www.connectacare.com.br</a> Ou pelo aplicativo Connecta Care e o usuário poderá optar por
      aceitar o novo conteúdo ou por cancelar o uso dos serviços, caso seja assinante de algum serviço.</dd>
    <dt class="col-sm-3">
      <font face="Arial" color="#808080">15º Da política de privacidade</font>
    </dt>
    <dd class="col-sm-9">&#9758; Além do presente Termo, o usuário deverá consentir com as disposições contidas na
      respectiva Política de Privacidade a ser apresentada a todos os interessados dentro da interface da plataforma.
    </dd>
    <dt class="col-sm-3">
      <font face="Arial" color="#808080">16º Do foro</font>
    </dt>
    <dd class="col-sm-9">&#9758; Para a solução de controvérsias decorrentes do presente instrumento será aplicado
      integralmente o Direito brasileiro.<br>
      &#10146; Os eventuais litígios deverão ser apresentados no foro da comarca em que se encontra a sede da
      empresa.<br>
    </dd>

  </dl>

</body>

</html>