<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-header card-header-rose card-header-icon">
        <div class="card-icon">
          <i class="material-icons">fingerprint</i>
        </div>
        <span class="bmd-form-group is-filled">
          <button class="btn btn-rose btn-link" routerLink="login">Ver</button>
        </span>
      </div>
      <div class="card-footer">
        <div class="stats">
          Informações de Login
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-header card-header-rose card-header-icon">
        <div class="card-icon">
          <i class="material-icons">info</i>
        </div>
        <span class="bmd-form-group is-filled">
          <button class="btn btn-rose btn-link" routerLink="profissional">Ver</button>
        </span>
      </div>
      <div class="card-footer">
        <div class="stats">
          Informações Gerais
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-header card-header-rose card-header-icon">
        <div class="card-icon">
          <i class="material-icons">house</i>
        </div>
        <span class="bmd-form-group is-filled">
          <button class="btn btn-rose btn-link" routerLink="endereco">Ver</button>
        </span>
      </div>
      <div class="card-footer">
        <div class="stats">
          Endereço
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-header card-header-rose card-header-icon">
        <div class="card-icon">
          <i class="material-icons">contact_phone</i>
        </div>
        <span class="bmd-form-group is-filled">
          <button class="btn btn-rose btn-link" routerLink="contato">Ver</button>
        </span>
      </div>
      <div class="card-footer">
        <div class="stats">
          Informações de Contato
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-header card-header-rose card-header-icon">
        <div class="card-icon">
          <i class="material-icons">work</i>
        </div>
        <span class="bmd-form-group is-filled">
          <button class="btn btn-rose btn-link" routerLink="carreira">Ver</button>
        </span>
      </div>
      <div class="card-footer">
        <div class="stats">
          Informações Profissionais
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-header card-header-rose card-header-icon">
        <div class="card-icon">
          <i class="material-icons">build</i>
        </div>
        <span class="bmd-form-group is-filled">
          <button class="btn btn-rose btn-link" routerLink="experiencia">Ver</button>
        </span>
      </div>
      <div class="card-footer">
        <div class="stats">
          Experiência Profissional
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-header card-header-rose card-header-icon">
        <div class="card-icon">
          <i class="material-icons">school</i>
        </div>
        <span class="bmd-form-group is-filled">
          <button class="btn btn-rose btn-link" routerLink="escolaridade">Ver</button>
        </span>
      </div>
      <div class="card-footer">
        <div class="stats">
          Informações Acadêmicas
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-header card-header-rose card-header-icon">
        <div class="card-icon">
          <i class="material-icons">check_box</i>
        </div>
        <span class="bmd-form-group is-filled">
          <button class="btn btn-rose btn-link" routerLink="complemento">Ver</button>
        </span>
      </div>
      <div class="card-footer">
        <div class="stats">
          Informações Complementares
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-header card-header-rose card-header-icon">
        <div class="card-icon">
          <i class="material-icons">account_balance</i>
        </div>
        <span class="bmd-form-group is-filled">
          <button class="btn btn-rose btn-link" routerLink="conta">Ver</button>
        </span>
      </div>
      <div class="card-footer">
        <div class="stats">
          Informações Bancárias
        </div>
      </div>
    </div>
  </div>
</div>
