<div class="content">
  <div class="container-fluid">
    <div class="col-md-8 col-12 mr-auto ml-auto">
      <div class="wizard-container">
        <div class="card card-wizard active">
          <div class="card-header card-header-rose text-center">
            <i class="material-icons">house</i>
            <h3 class="card-title">
              Endereço
            </h3>
          </div>
          <form (ngSubmit)="onSubmit()" [formGroup]="enderecoForm" [hidden]="showForm" class="form-horizontal">
            <div class="card-body">
              <div class="tab-content">
                <div class="row">
                  <label class="col-lg-2 col-md-2 col-form-label" for="cep">CEP *</label>
                  <div [ngClass]="validationHas.validation(enderecoForm.controls?.cep)"
                       class="form-group col-lg-5 col-md-8">
                    <input autocomplete="none" class="form-control" formControlName="cep" mask="00000-000" type="text">
                  </div>
                  <button (click)="pesquisarCep()" [disabled]="!enderecoForm.controls.cep.valid"
                          class="btn btn-social btn-just-icon btn-round btn-rose" type="button">
                    <i class="material-icons">search</i>
                  </button>
                </div>
                <div class="row">
                  <label class="col-lg-2 col-md-3 col-form-label" for="logradouro">Endereço *</label>
                  <div [ngClass]="validationHas.validation(enderecoForm.controls?.logradouro)"
                       class="form-group col-lg-5 col-md-8">
                    <input [value]="enderecoForm.get('logradouro').value | titlecase" class="form-control" formControlName="logradouro"
                           type="text">
                  </div>
                  <label class="col-lg-2 col-md-3 col-form-label" for="numero">Número *</label>
                  <div [ngClass]="validationHas.validation(enderecoForm.controls?.numero)"
                       class="form-group col-lg-2 col-md-8">
                    <input class="form-control" formControlName="numero" mask="0*" type="text">
                  </div>
                </div>
                <div class="row">
                  <label class="col-lg-2 col-md-3 col-form-label" for="complemento">Complemento</label>
                  <div class="form-group col-lg-5 col-md-8">
                    <input class="form-control" formControlName="complemento" type="text">
                  </div>
                </div>
                <div class="row">
                  <label class="col-lg-2 col-md-3 col-form-label" for="bairro">Bairro *</label>
                  <div [ngClass]="validationHas.validation(enderecoForm.controls?.bairro)"
                       class="form-group col-lg-4 col-md-8">
                    <input [value]="enderecoForm.get('bairro').value | titlecase" class="form-control" formControlName="bairro"
                           type="text">
                  </div>
                  <label class="col-lg-2 col-md-3 col-form-label" for="cidade">Cidade *</label>
                  <div [ngClass]="validationHas.validation(enderecoForm.controls?.cidade)"
                       class="form-group col-lg-3 col-md-8">
                    <input [value]="enderecoForm.get('cidade').value | titlecase" class="form-control" formControlName="cidade"
                           type="text">
                  </div>
                </div>
                <div class="row">
                  <label class="col-lg-2 col-md-3 col-form-label" for="pais">País *</label>
                  <div class="form-group col-lg-4 col-md-8">
                    <select class="selectpicker" data-live-search="true" data-style="btn btn-primary" data-width="100%"
                            formControlName="pais" id="pais" title="País">
                      <option *ngFor="let pais of paises" [value]="pais.id">{{ pais.nome | uppercase }}</option>
                    </select>
                  </div>
                  <label class="col-lg-1 col-md-3 col-form-label" for="estado">UF *</label>
                  <div class="form-group col-lg-4 col-md-8">
                    <select class="selectpicker" data-live-search="true" data-style="btn btn-primary" data-width="100%"
                            formControlName="estado" id="estado" title="Estado">
                      <option *ngFor="let estado of estados" [value]="estado.id">{{ estado.uf }}</option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <label class="col-lg-2 col-md-3 col-form-label" for="comprovante">Comprovante *</label>
                  <div class="col-lg-5 col-md-8">
                    <div [ngClass]="fileInputComprovante" class="fileinput text-center" data-provides="fileinput">
                      <div [ngClass]="fileInputComprovante" class="thumbnail img-circle img-raised">
                        <img [src]="imagemComprovante" alt="..." rel="nofollow">
                      </div>
                      <div class="fileinput-preview fileinput-exists thumbnail img-circle img-raised"></div>
                      <span class="btn btn-raised btn-round btn-rose btn-file">
                        <span [hidden]="enderecoForm.controls.comprovante.valid">Selecionar comprovante</span>
                        <span [hidden]="enderecoForm.controls.comprovante.invalid">Trocar</span>
                        <input (change)="onLoadComprovante($event)" data-max-size="2" formControlName="comprovante"
                               type="file">
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer justify-content-between">
              <span class="bmd-form-group is-filled">
                <button (click)="onReturn()" class="btn btn-gray" type="button">Retornar</button>
                <button (click)="limpar()" class="btn btn-gray" type="button">Limpar</button>
              </span>
              <span class="bmd-form-group is-filled">
                <button [disabled]="!enderecoForm.valid" class="btn btn-rose" type="submit">Avançar</button>
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
