<div class="wrapper wrapper-full-page">
  <div class="page-header login-page">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-8 ml-auto mr-auto">
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="card card-login">
              <div class="card-header card-header-rose text-center">
                <div class="social-line">
                  <i class="material-icons">fingerprint</i>
                  <h4 class="card-title">Informações de Login</h4>
                </div>
              </div>
              <div class="card-body">
                <p class="card-description text-center"></p>
                <span class="bmd-form-group is-filled">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">email</i>
                      </span>
                    </div>
                    <input type="email" class="form-control" formControlName="email" placeholder="Email">
                  </div>
                </span>
                <span class="bmd-form-group is-filled">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">email</i>
                      </span>
                    </div>
                    <input type="email" class="form-control" formControlName="confirmarEmail" placeholder="Confirmar Email">
                  </div>
                </span>
                <span class="bmd-form-group is-filled">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">lock_outline</i>
                      </span>
                    </div>
                    <input type="password" class="form-control" formControlName="password" placeholder="Password">
                  </div>
                </span>
                <span class="bmd-form-group is-filled">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">lock_outline</i>
                      </span>
                    </div>
                    <input type="password" class="form-control" formControlName="confirmarPassword" placeholder="COnfirmar Password">
                  </div>
                </span>
              </div>
              <div class="card-footer">
                <span class="bmd-form-group is-filled">
                  <app-basic-recaptcha (captcha)="setCaptcha($event)"></app-basic-recaptcha>
                </span>
              </div>
              <div class="card-footer justify-content-between">
                <span class="bmd-form-group is-filled">
                  <button type="button" class="btn btn-gray">Cancelar</button>
                </span>
                <span class="bmd-form-group is-filled">
                  <button type="submit" class="btn btn-rose" [disabled]="!loginForm.valid || !captcha">Enviar</button>
                </span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
