<div class="card-body">
  <div class="container">
    <form [formGroup]="emailForm" (ngSubmit)="onSubmit()">
      <div class="form-row justify-content-center form-control-lg" [ngClass]="inputHas.validation(emailForm.controls.email)">
        <div class="col-lg-6 col-md-8">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="material-icons">email</i>
              </span>
            </div>
            <input type="text" class="form-control" formControlName="email" placeholder="Email..." >
          </div>
          <span class="form-control-feedback">
            <i class="material-icons">{{ input.validation(emailForm.controls.email) }}</i>
          </span>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="card-footer justify-content-center">
  <div class="form-row">
    <div class="form-group">
      <button type="submit" [disabled]="!emailForm.valid" class="btn btn-rose"
        [ngClass]="!emailForm.valid ? 'btn-link' : ''" (click)="onSubmit()">Enviar</button>
    </div>
  </div>
</div>
