<div class="card">
    <div class="card-body">
        <div class="row">
            <label class="col-lg-2 col-md-2 col-form-label" for="cep">CPF</label>
            <div class="form-group col-lg-4 col-md-4">
                <input autocomplete="none" class="form-control" formControlName="cep" mask="00000-000" type="text">
            </div>
            <button class="btn btn-social btn-just-icon btn-round btn-rose" type="button">
                <i class="material-icons">search</i>
            </button>
        </div>
        <div class="row">
            <label class="col-lg-2 col-md-3 col-form-label" for="logradouro">Nome</label>
            <div class="form-group col-lg-7 col-md-8">
                <input class="form-control" formControlName="logradouro" type="text" disabled>
            </div>
        </div>
        <div class="row">
            <label class="col-lg-2 col-md-3 col-form-label" for="complemento">Data Nascimento</label>
            <div class="form-group col-lg-3 col-md-8">
                <input class="form-control" formControlName="complemento" type="text" disabled>
            </div>
            <label class="col-lg-2 col-md-3 col-form-label" for="numero">Idade</label>
            <div class="form-group col-lg-2 col-md-8">
                <input class="form-control" formControlName="numero" type="text" disabled>
            </div>
        </div>
        <div class="row">
            <label class="col-lg-2 col-md-3 col-form-label" for="bairro">Estado Civil</label>
            <div class="form-group col-lg-3 col-md-8">
                <input class="form-control" formControlName="bairro" type="text" disabled>
            </div>
            <label class="col-lg-2 col-md-3 col-form-label" for="numero">Sexo</label>
            <div class="form-group col-lg-2 col-md-8">
                <input class="form-control" formControlName="numero" type="text" disabled>
            </div>
        </div>
        <div class="row">
            <label class="col-lg-2 col-md-3 col-form-label" for="cidade">Celular</label>
            <div class="form-group col-lg-3 col-md-8">
                <input class="form-control" formControlName="cidade" type="text" disabled>
            </div>
            <label class="col-lg-1 col-md-3 col-form-label" for="cidade">Email</label>
            <div class="form-group col-lg-5 col-md-8">
                <input class="form-control" formControlName="cidade" type="text" disabled>
            </div>
        </div>
    </div>
</div>