<div class="form-row justify-content-center form-control-lg">
  <div class="form-group">
    <div style="font-size:50%;">
      <div class="col-lg-12 col-md-12">
        <div class="collapse {{ minimo }}">
          <span>Mínimo de 8 caracteres</span>
        </div>
        <div class="collapse {{ maximo }}">
          <span>Máximo de 20 caracteres</span>
        </div>
        <div class="collapse {{ maiuscula }}">
          <span>Ao menos 1 letra maiúscula</span>
        </div>
        <div class="collapse {{ minuscula }}">
          <span>Ao menos 1 letra minúscula</span>
        </div>
        <div class="collapse {{ numero }}">
          <span>Ao menos 1 número</span>
        </div>
        <div class="collapse {{ especial }}">
          <span>Ao menos 1 caracter especial</span>
        </div>
      </div>
    </div>
  </div>
</div>
