<form [formGroup]="homeCareForm" (ngSubmit)="onSubmit()" class="form-horizontal" [hidden]="hideForm">
  <div class="card-body">
    <div class="tab-content">
      <div class="row">
        <label for="nome" class="col-lg-3 col-md-3 col-form-label">Empresa Home Care *</label>
        <div class="form-group col-lg-6 col-md-6">
          <input type="text" id="nome" class="form-control"
                  formControlName="nome"
                  placeholder="Nome da empresa"
                  [value]="homeCareForm.get('nome').value | titlecase">
        </div>
      </div>
      <div class="row">
        <label for="tipoDocumento" class="col-lg-3 col-md-3 col-form-label">Tipo Documento *</label>
        <div class="form-group col-lg-3 col-md-8 checkbox-radios" id="tipoDocumento">
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" formControlName="tipoDocumento" type="radio"
                      name="tipoDocumento" value="CNPJ" checked>
              CNPJ
              <span class="circle">
                    <span class="check"></span>
                  </span>
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" formControlName="tipoDocumento" type="radio"
                      name="tipoDocumento" value="MEI">
              MEI
              <span class="circle">
                    <span class="check"></span>
                  </span>
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <label for="cnpj"
                class="col-lg-3 col-md-3 col-form-label">Nº {{homeCareForm.value.tipoDocumento}}
          *</label>
        <div class="form-group col-lg-6 col-md-6" [ngClass]="validationHas.validation(homeCareForm.controls?.cnpj)">
          <input type="text" id="cnpj" class="form-control" formControlName="cnpj"
            placeholder="Nº {{homeCareForm.value.tipoDocumento}}" mask="00.000.000/0000-00">
        </div>
      </div>
      <div class="row">
        <label for="site" class="col-lg-3 col-md-3 col-form-label">Site</label>
        <div class="form-group col-lg-6 col-md-6">
          <input type="text" id="site" class="form-control" formControlName="site"
                  placeholder="www.sitedaempresa.com"
                  [value]="homeCareForm.get('site').value | lowercase">
        </div>
      </div>
      <div class="row">
        <label for="especialidade" class="col-lg-3 col-md-3 col-form-label">Área Atendimento *</label>
        <div class="form-group col-lg-3 col-md-8">
          <select class="selectpicker" id="especialidade" multiple="multiple" data-style="btn btn-primary"
                  data-width="100%" title="Selecione" formControlName="especialidade">
            <option *ngFor="let especialidade of especialidades">{{ especialidade.nome | uppercase }}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer justify-content-between">
    <span class="bmd-form-group is-filled" *ngIf="!formularioCadastro">
      <button class="btn btn-social btn-just-icon btn-gray" [routerLink]="['../']">
        <i class="material-icons">arrow_back</i>
      </button>
    </span>
    <span class="bmd-form-group is-filled" *ngIf="formularioCadastro">
      <button type="button" class="btn btn-gray" (click)="onReturn()">Retornar</button>
      <button type="button" class="btn btn-gray" (click)="limparForm()">Limpar</button>
    </span>
    <span class="bmd-form-group is-filled">
        <button type="submit" class="btn btn-rose" [disabled]="!homeCareForm.valid">{{ nomeBotaoSubmit }}</button>
    </span>
  </div>
</form>
