<div class="content">
  <div class="container-fluid">
    <div class="col-md-8 col-12 mr-auto ml-auto">
      <div class="wizard-container">
        <div class="card card-wizard active">
          <div class="card-header card-header-rose text-center">
            <i class="material-icons">info</i>
            <h3 class="card-title">
              Informações Gerais
            </h3>
          </div>
          <app-form-homecare
            [formularioCadastro]="formularioCadastro"
            (onSubmitEvent)="onSubmit($event)"
            [linkBotaoVoltar]="linkBotaoVoltar"
            [nomeBotaoSubmit]="nomeBotaoSubmit">
          </app-form-homecare>
        </div>
      </div>
    </div>
  </div>
</div>
