<div class="content">
  <div class="container-fluid">
    <div class="col-md-8 col-10 mr-auto ml-auto">
      <div class="wizard-container">
        <div class="card card-wizard active">
          <div name="principal">
            <div class="card-header card-header-rose text-center">
              <i class="material-icons">check_box</i>
              <h3 class="card-title">Tratamento em Andamento</h3>
            </div>
            <div class="card-body">
              <div class="row">
                <label class="col-lg-2 col-md-3 col-form-label" for="dataHoraAtendimento"
                  >Data Hora do Atendimento:
                </label>
                <div class="form-group col-lg-3 col-md-8">
                  <input
                    class="form-control"
                    name="dataHoraAtendimento"
                    type="text"                    
                  />
                </div>
                <label
                  class="col-lg-3 col-md-3 col-form-label"
                  for="plantaoResponsavelHome"
                  >Plantão responsável Home:
                </label>
                <div class="form-group col-lg-3 col-md-8">
                  <input
                    class="form-control"
                    name="plantaoResponsavelHome"
                    type="text"                    
                  />
                </div>
              </div>
              <div class="row">
                <label class="col-lg-2 col-md-3 col-form-label" for="cpfProfissional"
                  >Cpf Profissional:
                </label>
                <div class="form-group col-lg-3 col-md-8">
                  <input
                    class="form-control"
                    name="cpfProfissional"
                    type="text"                    
                  />
                </div>
                <label
                  class="col-lg-3 col-md-3 col-form-label"
                  for="contatoPlantaoHome"
                  >Contato Plantão Home</label
                >
                <div class="form-group col-lg-3 col-md-8">
                  <input
                    class="form-control"
                    name="contatoPlantaoHome"
                    type="text"                    
                  />
                </div>
              </div>
              <div class="row">
                <label class="col-lg-2 col-md-3 col-form-label" for="nomeProfissional"
                  >Nome Profissional:
                </label>
                <div class="form-group col-lg-3 col-md-8">
                  <input
                    class="form-control"
                    name="nomeProfissional"
                    type="text"
                    
                  />
                </div>
                <label
                  class="col-lg-3 col-md-3 col-form-label"
                  for="responsavelPaciente"
                  >Responsável pelo paciente:
                </label>
                <div class="form-group col-lg-3 col-md-8">
                  <input
                    class="form-control"
                    name="responsavelPaciente"
                    type="text"
                    
                  />
                </div>
              </div>
              <div class="row">
                <label class="col-lg-2 col-md-3 col-form-label" for="logradouroAtendimento"
                  >Logradouro Atendimento:
                </label>
                <div class="form-group col-lg-3 col-md-8">
                  <input
                    class="form-control"
                    name="logradouroAtendimento"
                    type="text"
                    
                  />
                </div>
                <label
                  class="col-lg-3 col-md-3 col-form-label"
                  for="contatoResponsavelPaciente"
                  >Contato do Responsável do Paciente:
                </label>
                <div class="form-group col-lg-3 col-md-8">
                  <input
                    class="form-control"
                    name="contatoResponsavelPaciente"
                    type="text"
                    
                  />
                </div>
              </div>
              <div class="row">
                <label class="col-lg-2 col-md-3 col-form-label" for="protocoloAtendimento"
                  >Protocolo Atendimento:
                </label>
                <div class="form-group col-lg-3 col-md-8">
                  <input
                    class="form-control"
                    name="protocoloAtendimento"
                    type="text"
                    
                  />
                </div>
              </div>
              <div class="row p-3"></div>
              <div class="row">
                <label class="col-lg-2 col-md-3 col-form-label" for="valorAtendimentoHomecare"
                  >#Valor Atendimento Homecare:
                </label>
                <div class="form-group col-lg-3 col-md-8">
                  <input
                    class="form-control"
                    name="valorAtendimentoHomecare"
                    type="text"
                    
                  />
                </div>
              </div>
              <div class="row">
                <label class="col-lg-2 col-md-3 col-form-label" for="valorAtendimentoCliente"
                  >#Valor Atendimento Cliente:
                </label>
                <div class="form-group col-lg-3 col-md-8">
                  <input
                    class="form-control"
                    name="valorAtendimentoCliente"
                    type="text"
                    
                  />
                </div>
              </div>
              <div class="row">
                <label class="col-lg-2 col-md-3 col-form-label" for="valorAtendimentoProfissional"
                  >#Valor Atendimento Profissional:
                </label>
                <div class="form-group col-lg-3 col-md-8">
                  <input
                    class="form-control"
                    name="valorAtendimentoProfissional"
                    type="text"
                    
                  />
                </div>
              </div>
              <div class="row">
                <label class="col-lg-2 col-md-3 col-form-label" for="valorAjudaCusto"
                  >#Valor Ajuda de custo:
                </label>
                <div class="form-group col-lg-3 col-md-8">
                  <input
                    class="form-control"
                    name="valorAjudaCusto"
                    type="text"
                    
                  />
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <hr />
                </div>
              </div>
              <div class="row">
                <label class="col-lg-2 col-md-3 col-form-label" for="observacao"
                  >Observação:
                </label>
                <div class="form-group col-lg-3 col-md-8">
                  <input
                    class="form-control"
                    name="observacao"
                    type="text"
                    
                  />
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <button class="btn btn-rose float-right">Recorrência</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
