<div class="modal fade bd-example-modal-lg" id="atendimentoModal" tabindex="-1" role="dialog"
     aria-labelledby="atendimentoModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="atendimentoModalLabel">Atendimento</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="row">
                <p>Data/Hora Atendimento: </p>
              </div>
              <div class="row">
                <p>CPF Profissional: </p>
              </div>
              <div class="row">
                <p>Nome Profissional: </p>
              </div>
              <div class="row">
                <p>Logradouro Atendimento: </p>
              </div>
              <div class="row">
                <p>Protocolo Atendimento: </p>
              </div>
            </div>
            <div class="col">
              <div class="row">
                <p>Plantão Responsável Home: </p>
              </div>
              <div class="row">
                <p>Contato Plantão Home: </p>
              </div>
              <div class="row">
                <p>Responsável Pelo Paciente: </p>
              </div>
              <div class="row">
                <p>Contato do Responsável do Paciente: </p>
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col">
              <div class="row">
                <p>Valor Atendimento Home Care: </p>
              </div>
              <div class="row">
                <p>Valor Atendimento Cliente: </p>
              </div>
              <div class="row">
                <p>Valor Atendimento Profissional: </p>
              </div>
              <div class="row">
                <p>Valor de ajuda de custo: </p>
              </div>
              <div class="row">
                <p>Protocolo Atendimento: </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
