<div class="container conteudo">
  <div class="row">
    <div class="col-lg-8 col-md-10 col-sm-12 ml-auto mr-auto">
      <!--      Wizard container        -->
      <div class="wizard-container">
        <div class="card card-wizard active" data-color="rose" id="wizardProfile">
          <div class="card-header text-center">
            <h3 class="card-title">
              Selecione sua Categoria
            </h3>
          </div>
          <div class="wizard-navigation">
            <ul class="nav nav-pills nav-fill">
              <li #paciente (click)="setModulo(paciente.id)" class="nav-item" id="pacientes" style="width: 25%;">
                <a class="nav-link active" data-toggle="tab" href="#login" role="tab">
                  Paciente
                </a>
              </li>
              <li #profissional (click)="setModulo(profissional.id)" class="nav-item" id="profissionais"
                  style="width: 25%;">
                <a class="nav-link" data-toggle="tab" href="#login" role="tab">
                  Profissional
                </a>
              </li>
              <li #homecare (click)="setModulo(homecare.id)" class="nav-item" id="homecares" style="width: 25%;">
                <a class="nav-link" data-toggle="tab" href="#login" role="tab">
                  Homecare
                </a>
              </li>
              <li #planoSaude (click)="setModulo(planoSaude.id)" class="nav-item" id="planos-saude" style="width: 25%;">
                <a class="nav-link" data-toggle="tab" href="#login" role="tab">
                  Plano de Saúde
                </a>
              </li>
            </ul>
          </div>
          <div class="card-body">
            <div class="tab-content">
              <div class="tab-pane active" id="login">
                <div class="row justify-content-center">
                  <div class="col-lg-6 col-md-8">
                    <h5 class="info-text"><!--Escolha a forma, i-->Insira seus dados e entre no sistema</h5>
                  </div>
                </div>
                <div class="row justify-content-center">
                  <div class="container">
                    <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
                      <div [ngClass]="inputHas.validation(loginForm.controls.email)"
                           class="form-row justify-content-center form-control-lg">
                        <div class="col-lg-6 col-md-8">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                <i class="material-icons">email</i>
                              </span>
                            </div>
                            <input class="form-control" formControlName="email" placeholder="Email..." type="text">
                          </div>
                          <span class="form-control-feedback">
                            <i class="material-icons">{{ input.validation(loginForm.controls.email) }}</i>
                          </span>
                        </div>
                      </div>
                      <div [ngClass]="inputHas.validation(loginForm.controls.password)"
                           class="form-row justify-content-center form-control-lg">
                        <div class="col-lg-6 col-md-8">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                <i class="material-icons">lock_outline</i>
                              </span>
                            </div>
                            <input class="form-control" formControlName="password" placeholder="Senha..." type="password">
                          </div>
                          <span class="form-control-feedback">
                            <i class="material-icons">{{ input.validation(loginForm.controls.password) }}</i>
                          </span>
                        </div>
                      </div>
                      <app-form-password-validation [password]="loginForm.controls.password.value"></app-form-password-validation>
                      <div class="form-row justify-content-center form-control-lg">
                        <div class="form-group">
                          <button [disabled]="!loginForm.valid" [ngClass]="!loginForm.valid ? 'btn-link' : ''"
                                  class="btn btn-rose"
                                  type="submit">Entrar
                          </button>
                        </div>
                      </div>
                      <div class="form-row justify-content-center">
                        <div class="form-group">
                          <a [routerLink]="['esqueci-minha-senha']" class="btn btn-rose btn-link">
                            Esqueci minha Senha
                          </a>
                        </div>
                      </div>
                      <div class="form-row justify-content-center form-control-lg">
                        <h5>
                          - ou entre com -
                        </h5>
                      </div>
                      <div class="form-row justify-content-center form-control-lg">
                        <div class="form-group">
                          <button class="btn btn-social btn-link btn-facebook">
                            <i class="fa fa-facebook"></i>
                            <p>Facebook</p>
                          </button>
                          <button class="btn btn-social btn-link btn-google">
                            <i class="fa fa-google"></i>
                            <p>Google</p>
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
