<div class="content">
  <div class="container-fluid">
    <div class="col-md-8 col-12 mr-auto ml-auto">
      <div class="wizard-container">
        <div class="card card-wizard active">
          <div class="card-header card-header-rose text-center">
            <i class="material-icons">house</i>
            <h3 class="card-title">
              Endereço
            </h3>
          </div>
          <form [formGroup]="enderecoForm" (ngSubmit)="onSubmit()" class="form-horizontal" [hidden]="showForm">
            <div class="card-body">
              <div class="tab-content">
                <div class="row">
                  <label for="cep" class="col-lg-2 col-md-2 col-form-label">CEP *</label>
                  <div class="form-group col-lg-5 col-md-8" [ngClass]="validationHas.validation(enderecoForm.controls?.cep)">
                    <input type="text" class="form-control" formControlName="cep" mask="00000-000" autocomplete="none">
                  </div>
                  <button type="button" class="btn btn-social btn-just-icon btn-round btn-rose"
                    (click)="pesquisarCep()" [disabled]="!enderecoForm.controls.cep.valid">
                    <i class="material-icons">search</i>
                  </button>
                </div>
                <div class="row">
                  <label for="logradouro" class="col-lg-2 col-md-3 col-form-label">Endereço *</label>
                  <div class="form-group col-lg-5 col-md-8" [ngClass]="validationHas.validation(enderecoForm.controls?.logradouro)">
                    <input type="text" class="form-control" formControlName="logradouro"
                    [value]="enderecoForm.get('logradouro').value | titlecase">
                  </div>
                  <label for="numero" class="col-lg-2 col-md-3 col-form-label">Número *</label>
                  <div class="form-group col-lg-2 col-md-8" [ngClass]="validationHas.validation(enderecoForm.controls?.numero)">
                    <input type="text" class="form-control" formControlName="numero" mask="0*">
                  </div>
                </div>
                <div class="row">
                  <label for="complemento" class="col-lg-2 col-md-3 col-form-label">Complemento</label>
                  <div class="form-group col-lg-5 col-md-8">
                    <input type="text" class="form-control" formControlName="complemento">
                  </div>
                </div>
                <div class="row">
                  <label for="bairro" class="col-lg-2 col-md-3 col-form-label">Bairro *</label>
                  <div class="form-group col-lg-4 col-md-8" [ngClass]="validationHas.validation(enderecoForm.controls?.bairro)">
                    <input type="text" class="form-control" formControlName="bairro"
                    [value]="enderecoForm.get('bairro').value | titlecase">
                  </div>
                  <label for="cidade" class="col-lg-2 col-md-3 col-form-label">Cidade *</label>
                  <div class="form-group col-lg-3 col-md-8" [ngClass]="validationHas.validation(enderecoForm.controls?.cidade)">
                    <input type="text" class="form-control" formControlName="cidade"
                    [value]="enderecoForm.get('cidade').value | titlecase">
                  </div>
                </div>
                <div class="row">
                  <label for="pais" class="col-lg-2 col-md-3 col-form-label">País *</label>
                  <div class="form-group col-lg-4 col-md-8">
                    <select class="selectpicker" formControlName="pais" id="pais" data-style="btn btn-primary"
                      data-width="100%" title="País" data-live-search="true">
                      <option [value]="pais.id" *ngFor="let pais of paises">{{ pais.nome | uppercase }}</option>
                    </select>
                  </div>
                  <label for="estado" class="col-lg-1 col-md-3 col-form-label">UF *</label>
                  <div class="form-group col-lg-4 col-md-8">
                    <select class="selectpicker" formControlName="estado" id="estado" data-style="btn btn-primary"
                      data-width="100%" title="Estado" data-live-search="true">
                      <option [value]="estado.id" *ngFor="let estado of estados">{{ estado.uf }}</option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <label for="comprovante" class="col-lg-2 col-md-3 col-form-label">Comprovante *</label>
                  <div class="col-lg-5 col-md-8">
                    <div class="fileinput text-center" data-provides="fileinput" [ngClass]="fileInputComprovante">
                      <div class="thumbnail img-circle img-raised" [ngClass]="fileInputComprovante">
                        <img [src]="imagemComprovante" rel="nofollow" alt="...">
                      </div>
                      <div class="fileinput-preview fileinput-exists thumbnail img-circle img-raised"></div>
                      <span class="btn btn-raised btn-round btn-rose btn-file">
                        <span [hidden]="enderecoForm.controls.comprovante.valid">Selecionar comprovante</span>
                        <span [hidden]="enderecoForm.controls.comprovante.invalid">Trocar</span>
                        <input type="file" data-max-size="2" (change)="onLoadComprovante($event)" formControlName="comprovante">
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer justify-content-between">
              <span class="bmd-form-group is-filled">
                <button type="button" class="btn btn-gray" (click)="onReturn()">Retornar</button>
                <button type="button" class="btn btn-gray" (click)="limpar()">Limpar</button>
              </span>
              <span class="bmd-form-group is-filled">
                <button type="submit" class="btn btn-rose" [disabled]="!enderecoForm.valid">Avançar</button>
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
