<form [formGroup]="escolaridadeForm" (ngSubmit)="onSubmit()" class="form-horizontal">
  <div class="row">
    <label for="instrucao" class="col-lg-3 col-md-3 col-form-label">Grau de instrução *</label>
    <div class="form-group col-lg-3 col-md-8"
      [ngClass]="escolaridadeForm.controls.instrucao.invalid && escolaridadeForm.controls.instrucao.touched ? 'has-danger' : ''">
      <select class="selectpicker" data-style="btn btn-primary btn-round" data-width="100%" title="Instrução">
        <option disabled selected>Selecione</option>
        <option value="2">Item 1</option>
      </select>
    </div>
  </div>
  <div class="row">
    <label for="instituicaoEnsino" class="col-lg-3 col-md-3 col-form-label">Instituição de ensino 1</label>
    <div class="form-group col-lg-8 col-md-8"
      [ngClass]="escolaridadeForm.controls.instituicaoEnsino.invalid && escolaridadeForm.controls.instituicaoEnsino.touched ? 'has-danger' : ''">
      <input type="text" class="form-control" name="instituicaoEnsino" formControlName="instituicaoEnsino">
    </div>
  </div>
  <div class="row">
    <label for="anoConclusao" class="col-lg-3 col-md-3 col-form-label">Ano conclusão 1</label>
    <div class="form-group col-lg-3 col-md-8"
      [ngClass]="escolaridadeForm.controls.anoConclusao.invalid && escolaridadeForm.controls.anoConclusao.touched ? 'has-danger' : ''">
      <input type="text" class="form-control" name="anoConclusao" formControlName="anoConclusao">
    </div>
  </div>
  <div class="form-row justify-content-between mt-4">
    <div>
      <button type="button" class="btn btn-gray">Retornar</button>
      <button type="button" class="btn btn-gray">Limpar</button>
    </div>
    <div>
      <button type="submit" class="btn btn-rose" [disabled]="!escolaridadeForm.valid">Avançar</button>
    </div>
  </div>
</form>
