<div class="content">
  <div class="container-fluid">
    <div class="col-md-8 col-12 mr-auto ml-auto">
      <div class="wizard-container">
        <div class="card card-wizard active">
          <div class="card-header card-header-rose text-center">
            <i class="material-icons">build</i>
            <h3 class="card-title">
              Experiência Profissional
            </h3>
          </div>
          <form [formGroup]="experienciaForm" (ngSubmit)="onSubmit()" class="form-horizontal">
            <div class="card-body">
              <div class="tab-content">
                <div class="row">
                  <label for="experiencia" class="col-lg-3 col-md-3 col-form-label">Experiência Profissional *</label>
                  <div class="form-group col-lg-1 col-md-8">
                    <div class="togglebutton">
                      <label>
                        <input type="checkbox" id="experiencia" formControlName="experiencia">
                        <span class="toggle"></span>
                      </label>
                    </div>
                  </div>
                  <label for="observacao" class="col-lg-3 col-md-3 col-form-label">Observação</label>
                  <div class="form-group col-lg-4 col-md-8">
                    <input type="text" id="observacao" class="form-control" formControlName="observacao">
                  </div>
                </div>

                <div class="row">
                  <label for="empresa1" class="col-lg-3 col-md-3 col-form-label">Empresa anterior 1</label>
                  <div class="form-group col-lg-8 col-md-8">
                    <input type="text" id="empresa1" class="form-control" formControlName="empresa1">
                  </div>
                </div>
                <div class="row">
                  <label for="cargo1" class="col-lg-3 col-md-3 col-form-label">Cargo anterior 1</label>
                  <div class="form-group col-lg-8 col-md-8">
                    <input type="text" id="cargo1" class="form-control" formControlName="cargo1">
                  </div>
                </div>
                <div class="row">
                  <label for="dataAdmissao1" class="col-lg-3 col-md-3 col-form-label">Data admissão 1</label>
                  <div class="form-group col-lg-3 col-md-8">
                    <input type="text" id="dataAdmissao1" class="form-control" formControlName="dataAdmissao1"
                           [dropSpecialCharacters]="false"
                           pattern="^([0-2][0-9]|(3)[0-1])(\/)(((0)[0-9])|((1)[0-2]))(\/)\d{4}$"
                           mask="00/00/0000">
                  </div>
                  <label for="dataDemissao1" class="col-lg-2 col-md-3 col-form-label">Data demissão 1</label>
                  <div class="form-group col-lg-3 col-md-8">
                    <input type="text" id="dataDemissao1" class="form-control" formControlName="dataDemissao1"
                           [dropSpecialCharacters]="false"
                           pattern="^([0-2][0-9]|(3)[0-1])(\/)(((0)[0-9])|((1)[0-2]))(\/)\d{4}$" mask="00/00/0000">
                  </div>
                </div>

                <div class="row">
                  <label for="empresa2" class="col-lg-3 col-md-3 col-form-label">Empresa anterior 2</label>
                  <div class="form-group col-lg-8 col-md-8">
                    <input type="text" id="empresa2" class="form-control" formControlName="empresa2">
                  </div>
                </div>
                <div class="row">
                  <label for="cargo2" class="col-lg-3 col-md-3 col-form-label">Cargo anterior 2</label>
                  <div class="form-group col-lg-8 col-md-8">
                    <input type="text" id="cargo2" class="form-control" formControlName="cargo2">
                  </div>
                </div>
                <div class="row">
                  <label for="dataAdmissao2" class="col-lg-3 col-md-3 col-form-label">Data admissão 2</label>
                  <div class="form-group col-lg-3 col-md-8">
                    <input type="text" id="dataAdmissao2" class="form-control" formControlName="dataAdmissao2"
                           [dropSpecialCharacters]="false"
                           pattern="^([0-2][0-9]|(3)[0-1])(\/)(((0)[0-9])|((1)[0-2]))(\/)\d{4}$" mask="00/00/0000">
                  </div>
                  <label for="dataDemissao2" class="col-lg-2 col-md-3 col-form-label">Data demissão 2</label>
                  <div class="form-group col-lg-3 col-md-8">
                    <input type="text" id="dataDemissao2" class="form-control" formControlName="dataDemissao2"
                           [dropSpecialCharacters]="false"
                           pattern="^([0-2][0-9]|(3)[0-1])(\/)(((0)[0-9])|((1)[0-2]))(\/)\d{4}$" mask="00/00/0000">
                  </div>
                </div>

                <div class="row">
                  <label for="empresa3" class="col-lg-3 col-md-3 col-form-label">Empresa anterior 3</label>
                  <div class="form-group col-lg-8 col-md-8">
                    <input type="text" id="empresa3" class="form-control" formControlName="empresa3">
                  </div>
                </div>
                <div class="row">
                  <label for="cargo3" class="col-lg-3 col-md-3 col-form-label">Cargo anterior 3</label>
                  <div class="form-group col-lg-8 col-md-8">
                    <input type="text" id="cargo3" class="form-control" formControlName="cargo3">
                  </div>
                </div>
                <div class="row">
                  <label for="dataAdmissao3" class="col-lg-3 col-md-3 col-form-label">Data admissão 3</label>
                  <div class="form-group col-lg-3 col-md-8">
                    <input type="text" id="dataAdmissao3" class="form-control" formControlName="dataAdmissao3"
                           [dropSpecialCharacters]="false"
                           pattern="^([0-2][0-9]|(3)[0-1])(\/)(((0)[0-9])|((1)[0-2]))(\/)\d{4}$" mask="00/00/0000">
                  </div>
                  <label for="dataDemissao3" class="col-lg-2 col-md-3 col-form-label">Data demissão 3</label>
                  <div class="form-group col-lg-3 col-md-8">
                    <input type="text" id="dataDemissao3" class="form-control" formControlName="dataDemissao3"
                           [dropSpecialCharacters]="false"
                           pattern="^([0-2][0-9]|(3)[0-1])(\/)(((0)[0-9])|((1)[0-2]))(\/)\d{4}$" mask="00/00/0000">
                  </div>
                </div>

              </div>
            </div>
            <div class="card-footer justify-content-between">
              <span class="bmd-form-group is-filled">
                <button type="button" class="btn btn-gray" (click)="onReturn()">Retornar</button>
                <button type="button" class="btn btn-gray" (click)="experienciaForm.reset()">Limpar</button>
              </span>
              <span class="bmd-form-group is-filled">
                <button type="submit" class="btn btn-rose" [disabled]="experienciaForm.invalid">Avançar</button>
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
