<div class="container conteudo">
  <div class="row">
    <div class="col-lg-8 col-md-10 col-sm-12 ml-auto mr-auto">
      <div class="card">
        <div class="card-body">
          <ul class="nav nav-pills nav-pills-warning" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#link1" role="tablist" aria-expanded="true">
                Atendimento
              </a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#link2" role="tablist" aria-expanded="false">
                Dados Profissionais
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#link3" role="tablist" aria-expanded="false">
                Eventos
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#link4" role="tablist" aria-expanded="false">
                Provas
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#link5" role="tablist" aria-expanded="false">
                Contato
              </a>
            </li> -->
          </ul>
          <div class="tab-content tab-space">
            <div class="tab-pane active" id="link1" aria-expanded="true">
              <p>
                Lorem ipsum eu consectetur suspendisse mi ut tincidunt sem, vivamus purus cubilia tempor placerat eget odio, quam blandit quisque volutpat lorem fringilla venenatis. egestas eros nullam malesuada tempus dolor eu facilisis etiam mattis maecenas malesuada, integer fames accumsan turpis est vel consequat egestas at aptent commodo, arcu pulvinar sagittis quam dolor nunc velit eleifend at vivamus. habitasse pellentesque non convallis quis convallis sociosqu a lobortis, per non suscipit arcu nulla eu metus dapibus, neque est in fames congue etiam ipsum. quisque lacus volutpat sociosqu porttitor suscipit mauris nisi ornare donec phasellus, inceptos vitae fusce elementum vulputate felis torquent est dictum eu est, vitae condimentum libero gravida tempus potenti ut neque viverra.
              </p>
            </div>
            <!-- <div class="tab-pane" id="link2" aria-expanded="false">
              <app-dados-profissionais></app-dados-profissionais>
            </div>
            <div class="tab-pane" id="link3" aria-expanded="false">
              <app-eventos></app-eventos>
            </div>
            <div class="tab-pane" id="link4" aria-expanded="false">
              <p>
                Lorem ipsum eu consectetur suspendisse mi ut tincidunt sem, vivamus purus cubilia tempor placerat eget odio, quam blandit quisque volutpat lorem fringilla venenatis. egestas eros nullam malesuada tempus dolor eu facilisis etiam mattis maecenas malesuada, integer fames accumsan turpis est vel consequat egestas at aptent commodo, arcu pulvinar sagittis quam dolor nunc velit eleifend at vivamus. habitasse pellentesque non convallis quis convallis sociosqu a lobortis, per non suscipit arcu nulla eu metus dapibus, neque est in fames congue etiam ipsum. quisque lacus volutpat sociosqu porttitor suscipit mauris nisi ornare donec phasellus, inceptos vitae fusce elementum vulputate felis torquent est dictum eu est, vitae condimentum libero gravida tempus potenti ut neque viverra.
              </p>
            </div>
            <div class="tab-pane" id="link5" aria-expanded="false">
              <p>
                Lorem ipsum eu consectetur suspendisse mi ut tincidunt sem, vivamus purus cubilia tempor placerat eget odio, quam blandit quisque volutpat lorem fringilla venenatis. egestas eros nullam malesuada tempus dolor eu facilisis etiam mattis maecenas malesuada, integer fames accumsan turpis est vel consequat egestas at aptent commodo, arcu pulvinar sagittis quam dolor nunc velit eleifend at vivamus. habitasse pellentesque non convallis quis convallis sociosqu a lobortis, per non suscipit arcu nulla eu metus dapibus, neque est in fames congue etiam ipsum. quisque lacus volutpat sociosqu porttitor suscipit mauris nisi ornare donec phasellus, inceptos vitae fusce elementum vulputate felis torquent est dictum eu est, vitae condimentum libero gravida tempus potenti ut neque viverra.
              </p>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
