<div class="container conteudo">
  <div class="row">
    <div class="col-lg-8 col-md-10 col-sm-12 ml-auto mr-auto">
      <!--      Wizard container        -->
      <div class="wizard-container">
        <div class="card card-wizard active" data-color="rose" id="wizardProfile">
            <div class="card-header text-center">
              <h3 class="card-title">
                Qual a categoria que definirá o nosso relacionamento ?
              </h3>
            </div>
            <div class="wizard-navigation">
              <ul class="nav nav-pills nav-fill">
                <li class="nav-item" style="width: 25%;">
                  <a class="nav-link active" href="#paciente" data-toggle="tab" role="tab">
                    Paciente
                  </a>
                </li>
                <li class="nav-item" style="width: 25%;">
                  <a class="nav-link" href="#profissional" data-toggle="tab" role="tab">
                    Profissional
                  </a>
                </li>
                <li class="nav-item" style="width: 25%;">
                  <a class="nav-link" href="#homecare" data-toggle="tab" role="tab">
                    Homecare
                  </a>
                </li>
                <li class="nav-item" style="width: 25%;">
                  <a class="nav-link" href="#convenio" data-toggle="tab" role="tab">
                    Plano de Saúde
                  </a>
                </li>
              </ul>
            </div>
            <div class="card-body">
              <div class="tab-content">
                <div class="tab-pane active" id="paciente">
                  <div class="row justify-content-center">
                    <div class="col-lg-10">
                      <h5 class="info-text">
                        Se o atendimento for através do seu Plano de Saúde, entre em contato com o seu
                        convenio que realizará a primeira fase do cadastro, liberando o acesso ao sistema.
                        Caso Contrário, Realize seu cadastro e solicite você mesmo seu atendimento
                      </h5>
                    </div>
                  </div>
                  <form [formGroup]="pacienteForm" (ngSubmit)="onSubmit()">
                    <div class="form-row justify-content-center" [ngClass]="validaInputPaciente()=='done' ? 'has-success' : 'has-danger'">
                      <div class="col-lg-6 col-md-6 col-sm-8">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">face</i>
                            </span>
                          </div>
                          <input type="text" class="form-control" id="cpfPaciente" name="cpfPaciente" autocomplete="off"
                            placeholder="CPF (Obrigatório)" formControlName="cpf" [mask]="mascaraCpf">
                        </div>
                        <span class="form-control-feedback">
                          <i class="material-icons">{{ validaInputPaciente() }}</i>
                        </span>
                      </div>
                    </div>
                    <div class="form-row justify-content-center">
                      <div class="form-group">
                        <button type="submit" [disabled]="!pacienteForm.valid" class="btn btn-rose"
                          [ngClass]="!pacienteForm.valid ? 'btn-link' : ''" name="btnCpfPaciente">Cadastrar</button>
                      </div>
                    </div>
                    <div>
                      <div class="text-center text-danger">
                        <span *ngIf="pacienteJaCadastrado">*** CPF ou CNPJ já cadastrado ***</span>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="tab-pane" id="profissional">
                  <form [formGroup]="profissionalForm" (ngSubmit)="onSubmit()">
                    <div class="form-row justify-content-center" [ngClass]="validaInputProfissional()=='done' ? 'has-success' : 'has-danger'">
                      <div class="col-lg-6 col-md-6 col-sm-8">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">face</i>
                            </span>
                          </div>
                          <input type="text" class="form-control" id="cpfProfissional" name="cpfProfissional"
                            autocomplete="off" placeholder="CPF (Obrigatório)" formControlName="cpf"
                            [mask]="mascaraCpf">
                        </div>
                        <span class="form-control-feedback">
                          <i class="material-icons">{{ validaInputProfissional() }}</i>
                        </span>
                      </div>
                    </div>
                    <div class="form-row justify-content-center">
                      <div class="form-group">
                        <button type="submit" [disabled]="!profissionalForm.valid" class="btn btn-rose"
                        [ngClass]="!profissionalForm.valid ? 'btn-link' : ''" name="btnCpfProfissional">Cadastrar</button>
                      </div>
                    </div>
                    <div >
                      <div class="text-center text-danger">
                        <span *ngIf="profissionalJaCadastrado">*** CPF ou CNPJ já cadastrado ***</span>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="tab-pane" id="homecare">
                  <form [formGroup]="homecareForm" (ngSubmit)="onSubmit()">
                    <div class="form-row justify-content-center" [ngClass]="validaInputHomecare()=='done' ? 'has-success' : 'has-danger'">
                      <div class="col-lg-6 col-md-6 col-sm-8">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">face</i>
                            </span>
                          </div>
                          <input type="text" class="form-control" id="cnpjHomecare" name="cnpjHomecare"
                            autocomplete="off" placeholder="CNPJ (Obrigatório)" formControlName="cnpj"
                            [mask]="mascaraCnpj">
                        </div>
                        <span class="form-control-feedback">
                          <i class="material-icons">{{ validaInputHomecare() }}</i>
                        </span>
                      </div>
                    </div>
                    <div class="form-row justify-content-center">
                      <div class="form-group">
                        <button type="submit" [disabled]="!homecareForm.valid" class="btn btn-rose"
                        [ngClass]="!homecareForm.valid ? 'btn-link' : ''" name="btnCnpjHomecare">Cadastrar</button>
                      </div>
                    </div>
                    <div >
                      <div class="text-center text-danger">
                        <span *ngIf="homecareJaCadastrada">*** CPF ou CNPJ já cadastrado ***</span>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="tab-pane" id="convenio">
                  <form [formGroup]="convenioForm" (ngSubmit)="onSubmit()">
                    <div class="form-row justify-content-center" [ngClass]="validaInputConvenio()=='done' ? 'has-success' : 'has-danger'">
                      <div class="col-lg-6 col-md-6 col-sm-8">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">face</i>
                            </span>
                          </div>
                          <input type="text" class="form-control" id="cnpjConvenio" name="cnpjConvenio"
                            autocomplete="off" placeholder="CNPJ (Obrigatório)" formControlName="cnpj"
                            [mask]="mascaraCnpj">
                        </div>
                        <span class="form-control-feedback">
                          <i class="material-icons">{{ validaInputConvenio() }}</i>
                        </span>
                      </div>
                    </div>
                    <div class="form-row justify-content-center">
                      <div class="form-group">
                        <button type="submit" [disabled]="!convenioForm.valid" class="btn btn-rose"
                        [ngClass]="!convenioForm.valid ? 'btn-link' : ''" name="btnCnpjConvenio">Cadastrar</button>
                      </div>
                    </div>
                    <div >
                      <div class="text-center text-danger">
                        <span *ngIf="convenioJaCadastrado">*** CPF ou CNPJ já cadastrado ***</span>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
        </div>
      </div>
      <!-- wizard container -->
    </div>
  </div>
</div>
