<div class="page-header justify-content-center">
  <div class="col-md-6">
    <div class="card card-profile">
      <div class="card-header card-header-rose text-center">
        <div class="social-line">
          <i class="material-icons">alarm</i>
          <h4 class="card-title">Confirmação de E-mail</h4>
        </div>
      </div>
      <div class="card-body">
        <h4 class="card-title">Connecta Care</h4>
        <p class="card-description">
          Por favor, confirme no seu e-mail a continuação do cadastro
        </p>
        <a class="btn btn-rose btn-round" href="/">Home</a>
      </div>
    </div>
  </div>
</div>
<ngx-loading [config]="{ backdropBorderRadius: '3px' }" [show]="loading"></ngx-loading>
