<div class="card">
    <div class="card-body">
        <div class="row">
            <label class="col-lg-2 col-md-2 col-form-label" for="cep">CEP</label>
            <div class="form-group col-lg-2 col-md-2">
                <input autocomplete="none" class="form-control" formControlName="cep" mask="00000-000" type="text"
                    disabled>
            </div>
            <label class="col-lg-2 col-md-3 col-form-label" for="logradouro">Logradouro</label>
            <div class="form-group col-lg-5 col-md-8">
                <input class="form-control" formControlName="logradouro" type="text" disabled>
            </div>
        </div>
        <div class="row">
            <label class="col-lg-2 col-md-3 col-form-label" for="complemento">Complemento</label>
            <div class="form-group col-lg-3 col-md-8">
                <input class="form-control" formControlName="complemento" type="text" disabled>
            </div>
            <label class="col-lg-1 col-md-3 col-form-label" for="numero">Bairro</label>
            <div class="form-group col-lg-3 col-md-8">
                <input class="form-control" formControlName="numero" type="text" disabled>
            </div>
        </div>
        <div class="row">
            <label class="col-lg-2 col-md-3 col-form-label" for="bairro">Cidade</label>
            <div class="form-group col-lg-3 col-md-8">
                <input class="form-control" formControlName="bairro" type="text" disabled>
            </div>
            <label class="col-lg-1 col-md-3 col-form-label" for="numero">Estado</label>
            <div class="form-group col-lg-3 col-md-8">
                <input class="form-control" formControlName="numero" type="text" disabled>
            </div>
        </div>
    </div>
</div>