<div class="wrapper wrapper-full-page">
  <div class="page-header login-page">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-7 col-sm-9 ml-auto mr-auto">
          <form (ngSubmit)="onSubmit()" [formGroup]="cadastroLoginForm">
            <div class="card card-login">
              <div class="card-header card-header-rose text-center">
                <div class="social-line">
                  <i class="material-icons">fingerprint</i>
                  <h4 class="card-title">Informações de Login</h4>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-8 ml-auto mr-auto">
                <p class="card-description text-center"></p>
                <div class="form-row justify-content-center form-control-lg">
                  <div class="col-lg-10 col-md-10 col-sm-8">
                    <div [ngClass]="inputHas.validation(cadastroLoginForm.controls.email)" class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="material-icons">email</i>
                        </span>
                      </div>
                      <input autocomplete="false" class="form-control" formControlName="email" placeholder="Email"
                        type="email">
                      <span class="form-control-feedback">
                        <i class="material-icons">{{ input.validation(cadastroLoginForm.controls.email) }}</i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="form-row justify-content-center form-control-lg">
                  <div class="col-lg-10 col-md-10 col-sm-8">
                    <div [ngClass]="inputHas.validation(cadastroLoginForm.controls.confirmarEmail)" class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="material-icons">email</i>
                        </span>
                      </div>
                      <input autocomplete="false" class="form-control" formControlName="confirmarEmail"
                        placeholder="Confirmar Email" type="email">
                      <span class="form-control-feedback">
                        <i class="material-icons">{{ input.validation(cadastroLoginForm.controls.confirmarEmail) }}</i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="form-row justify-content-center form-control-lg">
                  <div class="col-lg-10 col-md-10 col-sm-8">
                    <div [ngClass]="inputHas.validation(cadastroLoginForm.controls.password)" class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="material-icons">lock_outline</i>
                        </span>
                      </div>
                      <input class="form-control" formControlName="password" placeholder="Senha" type="password">
                      <span class="form-control-feedback">
                        <i class="material-icons">{{ input.validation(cadastroLoginForm.controls.password) }}</i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="form-row justify-content-center form-control-lg">
                  <div class="col-lg-10 col-md-10 col-sm-8">
                    <div [ngClass]="inputHas.validation(cadastroLoginForm.controls.confirmarPassword)"
                      class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="material-icons">lock_outline</i>
                        </span>
                      </div>
                      <input class="form-control" formControlName="confirmarPassword" placeholder="Confirmar Senha"
                        type="password">
                      <span class="form-control-feedback">
                        <i
                          class="material-icons">{{ input.validation(cadastroLoginForm.controls.confirmarPassword) }}</i>
                      </span>
                    </div>
                  </div>
                </div>
                <app-form-password-validation [password]="cadastroLoginForm.controls.password.value">
                </app-form-password-validation>
              </div>
              <div class="card-footer justify-content-center">
                <span class="bmd-form-group is-filled">
                  <app-basic-recaptcha (captcha)="setCaptcha($event)"></app-basic-recaptcha>
                </span>
              </div>
              <div class="card-footer justify-content-center">
                <div class="col-lg-10 col-md-11 col-sm-12">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input formControlName="termo" class="form-check-input" type="checkbox" value="">
                      Eu li e concordo com os <a target="_blank" href="/termo-e-condicoes-de-uso"><u>Termo de Condições de
                        Uso</u></a> e
                      <a target="_blank" href="/politica-de-privacidade"><u>Política de Privacidade</u></a> deste site.
                      <span class="form-check-sign">
                        <span class="check"></span>
                      </span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="card-footer justify-content-between">
                <span class="bmd-form-group is-filled">
                  <button [routerLink]="['/']" class="btn btn-gray" type="button">Cancelar</button>
                </span>
                <span class="bmd-form-group is-filled">
                  <button [disabled]="!cadastroLoginForm.valid || !captcha" class="btn btn-rose"
                    type="submit">Enviar</button>
                </span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    $('.password').tooltip({
      title: "Mínimo de 8 caracteres\nMáximo de 20 caracteres<br>Ao menos 1 letra maiúscula<br>Ao menos 1 letra minúscula<br>Ao menos 1 número<br>Ao menos 1 caracter especial",
      html: true,
      placement: "bottom"
    });
  });
</script>