<form (ngSubmit)="onSubmit()" [formGroup]="contatoForm" [hidden]="hiddenForm" class="form-horizontal">
    <div class="card-body">
        <div class="tab-content">
            <div class="row">
                <label class="col-lg-2 col-md-2 col-form-label" for="temTrabalho">Trabalha atualmente *</label>
                <div class="form-group col-lg-3 col-md-9 checkbox-radios" id="temTrabalho">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input checked class="form-check-input" formControlName="temTrabalho" name="temTrabalho"
                                type="radio" value="TRUE">
                            Sim
                            <span class="circle">
                                <span class="check"></span>
                            </span>
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" formControlName="temTrabalho" name="temTrabalho"
                                type="radio" value="FALSE">
                            Não
                            <span class="circle">
                                <span class="check"></span>
                            </span>
                        </label>
                    </div>
                </div>
                <label class="col-lg-2 col-md-2 col-form-label" for="experienciaTrabalhoAtual">Experiências do trabalho atual</label>
                <div class="form-group col-lg-5 col-md-9">
                    <textarea class="form-control" id="experienciaTrabalhoAtual" rows="2"></textarea>
                </div>
            </div>
            <div class="row">
                <label class="col-lg-2 col-md-2 col-form-label" for="nome">Nome da mãe*</label>
                <div class="form-group col-lg-4 col-md-9">
                    <input class="form-control" formControlName="nome" id="nome" placeholder="Nome da mãe" type="text">
                </div>
                <label class="col-lg-2 col-md-2 col-form-label" for="telefoneWhatsapp">Celular mãe</label>
                <div class="form-group col-lg-3 col-md-9">
                    <input class="form-control" formControlName="telefoneWhatsapp" id="telefoneWhatsapp"
                        mask="(00) 00000-0000" placeholder="(99) 99999-9999" type="text">
                </div>
            </div>
            <div class="row">
                <label class="col-lg-2 col-md-2 col-form-label" for="nome">Nome do pai</label>
                <div class="form-group col-lg-4 col-md-9">
                    <input class="form-control" formControlName="nome" id="nome" placeholder="Nome do pai" type="text">
                </div>
                <label class="col-lg-2 col-md-2 col-form-label" for="telefoneWhatsapp">Celular pai</label>
                <div class="form-group col-lg-3 col-md-9">
                    <input class="form-control" formControlName="telefoneWhatsapp" id="telefoneWhatsapp"
                        mask="(00) 00000-0000" placeholder="(99) 99999-9999" type="text">
                </div>
            </div>
            <div class="row">
                <label class="col-lg-2 col-md-2 col-form-label" for="nome">Nome conjugê</label>
                <div class="form-group col-lg-4 col-md-9">
                    <input class="form-control" formControlName="nome" id="nome" placeholder="Nome conjugê" type="text">
                </div>
                <label class="col-lg-2 col-md-2 col-form-label" for="telefoneWhatsapp">Celular cônjuge</label>
                <div class="form-group col-lg-3 col-md-9">
                    <input class="form-control" formControlName="telefoneWhatsapp" id="telefoneWhatsapp"
                        mask="(00) 00000-0000" placeholder="(99) 99999-9999" type="text">
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer justify-content-between">
        <span class="bmd-form-group is-filled">
            <button [routerLink]="['../']" class="btn btn-social btn-just-icon btn-gray">
                <i class="material-icons">arrow_back</i>
            </button>
        </span>
        <span class="bmd-form-group is-filled">
            <button [disabled]="!contatoForm.valid" class="btn btn-rose" type="submit">Alterar</button>
        </span>
    </div>
</form>
